<div class="mb-6">
  <figure class="media media--image">
    {% include 'partials/picture.twig' with { name: 'image' } %}
    <figcaption class="media__caption">Caption text here</figcaption>
  </figure>
</div>
