<section class="logo-bar paragraph--logo-bar" aria-labelledby="midd-logo-bar-title">
  <h2 class="logo-bar__title" id="midd-logo-bar-title">Our Graduates Work At</h2>
  <ul class="logo-bar__list">
    <li class="logo-bar__item"><img src="images/google.svg" alt="" class="logo-bar__logo"></li>
    <li class="logo-bar__item"><img src="images/google.svg" alt="" class="logo-bar__logo"></li>
    <li class="logo-bar__item"><img src="images/google.svg" alt="" class="logo-bar__logo"></li>
    <li class="logo-bar__item"><img src="images/google.svg" alt="" class="logo-bar__logo"></li>
    <li class="logo-bar__item"><img src="images/google.svg" alt="" class="logo-bar__logo"></li>
    <li class="logo-bar__item"><img src="images/google.svg" alt="" class="logo-bar__logo"></li>
  </ul>
</section>
