<blockquote class="pullquote">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolore dolores adipisci neque qui modi aliquam voluptates asperiores pariatur autem, eligendi sunt dolor voluptatum assumenda, soluta laborum nobis, harum, est.</p>
  <p><small>&mdash;Michael Green</small></p>
</blockquote>
