{% embed 'partials/section.twig' with {
  title: 'Related Stories',
  labelledby: 'midd-related-stories-label',
  moreLinkText: 'View all',
  moreLinkHref: '#'
} %}
  {% block content %}
      <div class="row">
        {% for i in 0..3 %}

          {# twig js has to be `divisibleby` instead of `divisible by` #}
          <div class="col-md-6 col-lg-3{% if not loop.last %}{% if loop.index is divisibleby(2) %} border-lg-r{% else %} border-md-r{% endif %} mb-4 mb-lg-0{% endif %}">

            {% if not loop.last %}
              <div class="border-b border-md-b-0 pb-4 pb-md-0">
            {% endif %}

              {% include 'partials/card.twig' with {
                tags: tags,
                title: 'Sustainable Agriculture in the Sacred Valley',
                text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam asperiores consectetur, voluptate, officiis nisi magni quasi reprehenderit.'
              } %}

            {% if not loop.last %}
              </div>
            {% endif %}

          </div>
        {% endfor %}
      </div>
  {% endblock %}
{% endembed %}
