{#G2 two column text. May change later to a component name like two-col-text #}
<div class="two-col-text">
  <div class="two-col-text__col typography">
    <h2>Some headline</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe facilis cum doloribus similique dolores doloremque voluptate hic iste quisquam necessitatibus iure quos illo porro voluptates distinctio, obcaecati rem, sapiente labore.</p>
  </div>
  <div class="two-col-text__col typography">
    <h2>Some headline</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe facilis cum doloribus similique dolores doloremque voluptate hic iste quisquam necessitatibus iure quos illo porro voluptates distinctio, obcaecati rem, sapiente labore.</p>
  </div>
</div>
