.callout-info {
  background-color: $line-gray;
  padding: 30px 40px;
}

.callout-info__title {
  color: $black;
  font-size: 25px;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-semibold;
  margin-bottom: 20px;
}

.callout-info__text {

}
