.callout-group {
}
.callout-group {
  @include make-container();
}

.callout-group__row {
  @include make-row();
}

.callout-group__item {
  @include make-col-ready();

  &:not(:last-of-type) {
    border-bottom: 1px solid $line-gray;

    @include media(lg) {
      border-bottom: 0;
      border-right: 1px solid $line-gray;
    }
  }

  @include media(lg) {
    @include make-col(3);
  }
}
