.callout-links {
  border-bottom: 5px solid $line-gray;
  margin-bottom: 30px;

  @include media(md) {
    margin-bottom: 50px;
  }
}

.callout-links__title {
  font-size: 18px;
  font-weight: $font-weight-medium;
  font-family: $font-family-sans-serif;
  margin-bottom: 20px;
}

.callout-links__list {
  margin-bottom: 30px;

  @include media(sm) {
    @include make-row();
  }

  @include media(md) {
    margin-bottom: 50px;
  }
}

.callout-links__item {
  margin-bottom: 20px;

  @include media(sm) {
    @include make-col-ready();
    @include make-col(6);
  }

  @include media(md) {
    @include make-col(3);
  }
}

.callout-links__link {
}
