$callout-links-item-margin-bottom: 2rem;

.callout-links {
  margin-bottom: $component-margin-bottom - $callout-links-item-margin-bottom;

  & + & {
    border-top: 1px solid $border-color;
    padding-top: $component-margin-bottom;
  }
}

.callout-links__title {
  margin-bottom: 1.5rem;
}

.callout-links__text {
  margin-bottom: 1.5rem;
}

.callout-links__list {
  @include media(sm) {
    @include make-row();
  }
}

.callout-links__item {
  margin-bottom: $callout-links-item-margin-bottom;

  @include media(sm) {
    @include make-col-ready();
    @include make-col(6);
  }

  @include media(md) {
    @include make-col(4);
  }
}

.callout-links__link {
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-bottom: 1rem;
  @include link-border;
}

.callout-links__info {
  font-size: 14px;
  margin-top: 0.5rem;
}
