.card--has-image {
  @include clearfix();

  @include media(sm) {
    display: flex;
  }

  @include media(md) {
    display: block;
  }
}

.card__media {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;

  @include media(sm) {
    float: none;
    flex: 0 0 auto;
  }

  @include media(md) {
    margin-left: 0;
  }
}

.card__body {
  // float: left;
  @include media(sm) {
    // float: none;
    order: -1;
    // flex: 1 0 auto;
  }
}

.card__title {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  margin-bottom: 0.5rem;
}

.card__author {
  color: $black;
  font-family: $font-family-sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
}

.card__meta {
  color: $black;
  font-family: $font-family-sans-serif;
}
