.card {
  margin-bottom: 50px;
}

.card__header {
}

.card__tag {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-medium;
  font-size: 14px;
  margin-bottom: 5px;
}

.card__title {
  font-size: 22px;
  margin-bottom: 20px;

  @include media(md) {
    font-size: 28px;
  }
}

.card__title--lg {
  @include media(lg) {
    font-size: 38px;
    line-height: 44px;
  }
}

.card__media {
  margin-bottom: 20px;
}

.card__blurb {
}
