.card {
  // margin-bottom: 50px;
  @include clearfix();

  @include media(sm) {

  }
}

.card__header {
  @include media(sm) {

  }
}

.card__tag {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-medium;
  font-size: 14px;
  margin-bottom: 5px;
}

.card__title {
  font-size: 22px;
}

.card__title--lg {
  @include media(lg) {
    font-size: 38px;
    line-height: 44px;
  }
}

.card__media {
  float: right;

  @include media(sm) {
    margin-bottom: 20px;
    float: none;
  }
}

.card__body {
  @include media(sm) {

  }
}
