.chart {
  margin-bottom: $component-margin-bottom;
}

.chart__title {
  @include section-title();
  margin-bottom: 2rem;
}

.chart__container {
  position: relative;
  height: 400px;
  width: 100%;
  margin: auto;
}

///
//// chart group
///

.chart-group {
}

.chart-group__title {
}

.chart-group__list {
  @include make-row;
}

.chart-group__item {
  @include make-col-ready;
  margin-bottom: spacing(5);

  .chart-group__list--2 & {
    @include media(md) {
      @include make-col(6);
    }
  }

  .chart-group__list--3\+ & {
    @include media(md) {
      @include make-col(4);
    }
  }
}

.chart-group__item--stats {
  @include media(sm) {
    @include make-col(4);
  }
}

// chart legend

.chart-legend {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 14px;
    margin-bottom: 4px;
  }

  span {
    display: inline-block;
    background: $gray-light;
    width: 16px;
    height: 8px;
    margin-right: 8px;
  }
}

.chart-legend--inline {
  ul {
    @include media(md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  li {
    flex: 0 0 auto;
    @include media(md) {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
