.chart {
  margin-bottom: $component-margin-bottom;
}

.chart__title {
  @include section-title();
  margin-bottom: 2rem;
}

.chart__container {
  position: relative;
  height: 400px;
  width: 100%;
  margin: auto;
}

///
//// chart group
///

.chart-group {
}

.chart-group__title {
}

.chart-group__list {
  @include make-row;
}

.chart-group__item {
  @include make-col-ready;
  margin-bottom: spacing(5);

  .chart-group__list--2 & {
    @include media(md) {
      @include make-col(6);
    }
  }

  .chart-group__list--3\+ & {
    @include media(md) {
      @include make-col(4);
    }
  }
}

.chart-group__item--stats {
  @include media(sm) {
    @include make-col(6);
  }
  @include media(md) {
    @include make-col(4);
  }
}
