.chart {
  margin-bottom: $component-margin-bottom;
}

.chart__title {
  @include section-title();
  margin-bottom: 2rem;
}

.chart__container {
  position: relative;
  height: 400px;
  width: 100%;
  margin: auto;
}
