.event-detail__header {
  margin-bottom: 1.5rem;
}

.event-detail__meta {
  margin-bottom: 1.5rem;
}

.event-detail__datetime {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0.5rem;
}

.event-detail__admission {
  font-size: 16px;
  line-height: 24px;
}

.event-detail__access {
  font-size: 16px;
  line-height: 24px;
}

.event-detail__share {
}

.event-detail__media {
}

.event-detail__body {
}

.event-detail__contact {
}

.event-detail__address {
  margin-bottom: 1.5rem;
}

.event-detail__meta-title {
  margin-bottom: 1.5rem;
}

.event-detail__text {
}
