.event-teaser-lite {
  &:not(:last-of-type) {
    margin-bottom: 60px;
  }
}

.event-teaser-lite__meta {
  margin-bottom: 5px;
}

.event-teaser-lite__title {

}

.event-teaser-lite__local {
  margin-bottom: 0;
}
