.event-teaser {
  @include clearfix;

  @include media(md) {
    display: flex;
  }
}

.event-teaser__media {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;

  @include media(md) {
    float: none;
    flex: 0 0 auto;
    order: 1;
    margin-bottom: 0;
  }
}

.event-teaser__body {
  @include media(md) {
    flex: 1;
    order: -1;
  }
}

.event-teaser__title {
  font-size: $h3-font-size;
  margin-bottom: 0.5rem;
}

.event-teaser__datetime,
.event-teaser__local {
  font-size: 16px;
  line-height: 28px;
}

.event-teaser__local {
  margin-bottom: 1.5rem;
}

.event-teaser__text {
}

.event-teaser__metalist {
  display: flex;
  margin-top: 1rem;
}

.event-teaser__metaitem {
  color: $gray;
  font-size: 14px;

  &:not(:first-of-type) {
    margin-right: 0.25rem;
    margin-left: 0.25rem;

    &:before {
      content: '|';
    }
  }
}
