.event-teaser-lite {
}

.event-teaser-lite__datetime {
  margin-bottom: 15px;
}

.event-teaser-lite__title {
  font-size: 22px;
  margin-bottom: 20px;
}

.event-teaser-lite__local {
  // margin-bottom: 0;
}
