.footer-menu {
  margin-bottom: 40px;
  margin-top: 40px;

  @include media(lg) {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.footer-menu__title {
  color: $brand-secondary;
  font-family: $font-family-sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-menu__nav {

}

.footer-menu__list {

}

.footer-menu__item {
  margin-bottom: 20px;
}

.footer-menu__link {
  color: $white;
  font-family: $font-family-serif;
}
