.footer-callout {
  display: flex;
  flex-direction: column;
  // height: 100%;
}

.footer-callout__title {
  order: 2;
  // flex: 0 0 auto;
  color: $white;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 1rem;
}

.footer-callout__text {
  order: 1;
  // flex: 0 0 auto;
  color: $white;
  font-size: 20px;
  font-family: $font-family-serif;
  font-style: italic;
}

.footer-callout__footer {
  order: 3;
  // flex: 0 0 auto;
}
