.form {
}

.form__group {
  margin-bottom: 30px;
}

.form__group--has-error {
  .form__control {
    border-color: $danger;
  }
}

.form__error-message {
  color: $danger;
  font-size: 14px;
}

.form__label {
  display: block;
  font-family: $font-family-serif;
  margin-bottom: 5px;
}

.form__control {
  display: block;
  appearance: none;
  border: 1px solid $line-gray;
  width: 100%;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: $warm-gray;
  color: $black;
  padding: 20px;
  border-radius: 0;

  &:focus {
    background-color: $white;
  }
}

select.form__control {
  background-color: $white;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAYAAAAiJnXPAAAAtElEQVQYlXXOsUpCcRQH4M/LRcMXcAr+W+/gIiRmECERiNBruDf3HioO1RO4uBcUEQ66RYSIhFPQ1HKC66XOcjjn/D44lZRSE0Nc4cv/VccYNzmucYJ79PD9B6jFvYuDDH084hS3qJZAFXcBHjDIsIvFM84xQV4AU5zhKT7aZXHcooNXXGIUYIQLvAT4hEpKqfhKA3Mc4Q2HWKCFzW8os19rtLEKsIx5UwyVEbzjGLPoH+XADz8MIz9yNyrhAAAAAElFTkSuQmCC');
  background-position: right 30px center;
  background-repeat: no-repeat;

  &::-ms-expand {
    display: none;
  }
}

textarea.form__control {
  min-height: 200px;
}
