.form {
}

.form-group, // alias for eventual migration
.form__group {
  margin-bottom: 2rem;
}

.form__required {
  font-size: 14px;
  font-weight: normal;
  color: $gray;
}

.form__group--has-error {
  .form__control {
    border-color: $danger;
  }
}

.form__error-text {
  color: $danger;
  font-size: 14px;
  margin-top: 0.5rem;
}

.form-group label,
.label, // alias for eventual migration
.form__label {
  font-family: $font-family-sans-serif;
  display: block;
  font-size: 16px;
  font-weight: $font-weight-semibold;
  margin-bottom: 0.5rem;
}

.form-control, // alias for eventual migration
.form__control {
  display: block;
  appearance: none;
  width: 100%;
  border: $input-border-width solid $input-border-color;
  font-family: $font-family-base;
  font-size: $input-font-size;
  line-height: $input-line-height;
  background-color: $input-bg;
  color: $input-color;
  padding: $input-padding-y $input-padding-x;
  border-radius: $input-border-radius;

  &:focus {
    // background-color: $input-focus-bg;
    border-color: $black;
  }
}

.form__help-text {
  font-size: 14px;
  margin-top: 0.5rem;
}

// sizes
.form__control--sm {
  padding: $input-padding-y-sm $input-padding-x-sm;
}

.form__control--lg {
  padding: $input-padding-y-lg $input-padding-x-lg;
}

// custom elements
select.form-control,
select.form__control {
  background-color: $white;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAYAAAAiJnXPAAAAtElEQVQYlXXOsUpCcRQH4M/LRcMXcAr+W+/gIiRmECERiNBruDf3HioO1RO4uBcUEQ66RYSIhFPQ1HKC66XOcjjn/D44lZRSE0Nc4cv/VccYNzmucYJ79PD9B6jFvYuDDH084hS3qJZAFXcBHjDIsIvFM84xQV4AU5zhKT7aZXHcooNXXGIUYIQLvAT4hEpKqfhKA3Mc4Q2HWKCFzW8os19rtLEKsIx5UwyVEbzjGLPoH+XADz8MIz9yNyrhAAAAAElFTkSuQmCC');
  background-position: right $input-padding-x center;
  background-repeat: no-repeat;
  padding-right: $spacing-7;

  // remove caret on select in ie10+
  &::-ms-expand {
    display: none;
  }
}

textarea.form__control {
  min-height: 200px;
}
