.grid-nav {
  margin-bottom: $component-margin-bottom;
}

.grid-nav__list {
  @include media(md) {
    @include make-row();
  }
}

.grid-nav__item {
  padding-bottom: 2.5rem;
  margin-bottom: 3rem;
  display: flex;

  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }

  @include media(md) {
    @include make-col-ready();
    @include make-col(6);
    display: block;
    margin-bottom: $component-margin-bottom;

    &:not(:last-of-type) {
      border-bottom: 0;
    }
  }

  @include media-breakpoint-only(md) {
    &:not(:nth-of-type(2n)) {
      border-right: 1px solid $border-color;
    }
  }

  @include media(lg) {
    @include make-col(4);

    &:not(:nth-of-type(3n)) {
      border-right: 1px solid $border-color;
    }
  }
}

.grid-nav__image {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  order: 2;

  @include media(md) {
    margin-left: 0;
  }
}

.grid-nav__body {
  flex: 1;
}

.grid-nav__title {
  display: block;
  font-size: $h3-font-size;
  font-family: $headings-font-family;
  line-height: $h3-line-height;
  font-weight: $headings-font-weight;
  margin-bottom: 0.5rem;
}

.grid-nav__text {
}
