.hero-form {
  position: relative;
}

.hero-form__media {

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
}

.hero-form__content {
  @include media(sm) {
    background-image: linear-gradient(to bottom, rgba(black, .5), transparent 50%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 40px;
  }

  @include media(md) {
    padding-top: 115px;
  }
}

.hero-form__text {
  font-size: 20px;
  color: $gray;
  margin-bottom: 20px;

  @include media(sm) {
    color: $white;
  }

  @include media(md) {
    font-size: 22px;
  }
}

.hero-form__group {
  display: flex;
}

.hero-form__control {
  padding: 20px;
  font-size: 20px;
  font-family: $font-family-serif;
  border: 0;

  &:focus {
    background-color: $warm-gray;
  }

  &::placeholder {
    color: $black;
  }

  @include media(sm) {
    background-color: $white;
    font-size: 22px;

    &:focus {
      background-color: $white;
    }
  }

  @include media(md) {
    font-size: 28px;
  }
}

.hero-form__label {

}

.hero-form__button {
  padding: 20px;
  font-size: 20px;
  background-color: $warm-gray;

  @include media(sm) {
    background-color: $white;
    font-size: 22px;
  }

  @include media(md) {
    font-size: 28px;
  }
}
