.homepage-hero {
  position: relative;
  height: 442px;
  overflow: hidden;
  margin-bottom: $component-margin-bottom;

  @include media(sm) {
    height: auto;
    padding-top: percentage(3 / 4);
  }

  @include media(md) {
    height: $header-height;
    padding-top: 0;
    width: calc(100% - #{$header-width});
    margin-left: $header-width;
  }
}

.homepage-hero__media {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  img {
    object-fit: cover;
    font-family: 'object-fit: cover;'; // for object-fit-images
    height: 100%;
    width: 100%;
  }
}

.homepage-hero__content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.5);

  @include media(md) {
    background-color: transparent;
    background-image: linear-gradient(
      to bottom,
      transparent 50%,
      rgba(black, 0.8)
    );
  }
}

.homepage-hero__content--align-top {
  @include media(md) {
    align-items: flex-start;
    background-image: linear-gradient(
      to bottom,
      rgba(black, 0.8),
      transparent 50%
    );
  }
}

.homepage-hero__body {
  padding: 2.5rem;
  padding-bottom: 3.5rem;

  @include media(md) {
    max-width: 500px;
    display: inline-block;
  }
}

.homepage-hero__title {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}

.homepage-hero__link {
  color: $white;
}

.homepage-hero__text {
  color: $white;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}

.homepage-hero__more-link {
  margin-top: 1rem;
  color: $white;
  font-size: 14px;
  @include link-border();
}
