.icon {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.icon--sm {
  width: 8px;
  height: 8px;
}

$hamburger-bar-height: 2px;
$hamburger-spacing: 4px;
$hamburger-bar-offset: $hamburger-bar-height + $hamburger-spacing;

.icon--hamburger {
  top: -4px;
  height: 16px;

  &,
  &:before,
  &:after {
    background-color: $white;
    width: 20px;
    height: $hamburger-bar-height;
    transition: transform 0.2s;
  }

  &:before,
  &:after {
    display: block;
    content: '';
    position: absolute;
  }

  &:before {
    bottom: $hamburger-bar-offset;
  }

  &:after {
    top: $hamburger-bar-offset;
  }
}
