.list {
  // margin-bottom: 60px;
}

.list__item {
  &:not(:last-of-type) {
    margin-bottom: 10px;

    .list--md & {
      margin-bottom: 30px;
    }

    .list--lg & {
      margin-bottom: 60px;
    }
  }
}

.list--dividers {
  .list__item {
    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
      padding-bottom: 30px;
    }
  }

  &.list--lg {
    .list__item {
      &:not(:last-of-type) {
        padding-bottom: 60px;
      }
    }
  }
}

.list__icon {
  vertical-align: top;
  margin-right: 10px;
  position: relative;
  top: 5px;
  color: $green-light;
}

.list--unordered {
  list-style-type: disc;
  margin-left: 20px;
}
