.list {
  // margin-bottom: 60px;
}

.list__item {
  &:not(:last-of-type) {
    margin-bottom: 10px;

    .list--md & {
      margin-bottom: 30px;
    }

    .list--lg & {
      margin-bottom: 60px;
    }

    .list--dividers & {
      border-bottom: 1px solid $line-gray;
      padding-bottom: 30px;
    }
  }
}

.list__icon {
  vertical-align: top;
  margin-right: 10px;
  position: relative;
  top: 5px;

  svg {
    fill: $bright-green;
  }
}

.list--unordered {
  list-style-type: disc;
  margin-left: 20px;
}
