.media-object {
  display: flex;
  margin-bottom: $component-margin-bottom;
}

.media-object__image {
  width: 25%;
  padding-right: 1rem;
  min-width: 100px;
}

.media-object__body {
  width: 75%;
}

.media-object--right {
  .media-object__image {
    order: 2;
    padding-right: 0;
    padding-left: 1rem;
  }
}
