.media {
  // margin-bottom: 60px;
}

.media--image {
  img {
    display: block;
  }
}

.media--video {

}

.media__caption {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  color: $text-gray;
  margin-top: 10px;
}
