.media {
  // margin-bottom: 60px;
}

.media--image {
}

.media--video {
}

.media__caption {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  color: $text-gray;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
