.mission-selector {
  background-color: $lighter-blue;
  padding: 2rem;
  margin-bottom: $component-margin-bottom;

  @include media(md) {
    padding: 2.5rem 3.5rem;
    display: flex;
  }
}

.mission-selector--overlap {
  z-index: 3;
  position: relative;
  margin-top: -140px;

  @include media(sm) {
    margin-top: -20px;
  }
}

.mission-selector__content {
  @include media(md) {
    flex: 0 1 auto;
    padding-right: 50px;
  }
}

.mission-selector__actions {
  @include media(md) {
    flex: 1;
    align-self: flex-end;
    text-align: right;
  }
}

.mission-selector__title {
  font-family: $font-family-serif;
  font-size: 18px;
  font-style: italic;
}

.mission-selector__select {
  display: inline-block;
  color: $brand-primary;
  font-family: $font-family-serif;
  font-size: 26px;
  line-height: 32px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAYCAYAAADKx8xXAAABeUlEQVQ4je3UMWtTURQA4C+vU7o0P+ENXRwEUZQIBVOw5YJ1ky4iBOpidb/Nli19m1PdhW5Zii2EtlA6ZOvm4JLh/YR0Ee3k0BtMw0vjD/DAhcs557tc3j28WrfbVRXFoNyHGPK9qnp2D4qIkwMWwmJQ7iX0La2YcvNhaujhBG/SOkFvFmdT6ENCF9iOIb+JIb/Bdsr1Us9fmBIHuMRWDPnPSUPab6XawQTX6s32W3zFFTZjyK+rPkYxKFdwiqd4V6s327/wHS/noRl8jocZ1rGxCKVrX2MD67V5A7AoKgfgP7yNWr3Zfo4fMeTjfwHFoGzgQeZ2Ds/S4y5CKzjDRYYdPMHpfXhq5B5jJ4shP8RHPMNRMSiXK9AyjlLPpxjywwxiyL9gFy9wPI3T/jjVdlOvpVarBdZWG1fD0fg33uPRcDTuD0fjJfSxiU4M+efJgXeeI4Z8Hx28SqCf9p1UUwmncIHXaRWz6M5Vp2NttXE+HI3rGM77Pf4BdkyRRKtw6yYAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: right center;
  margin-bottom: 1rem;
  padding-right: 2rem;
  padding-top: $btn-padding-y;
  padding-bottom: $btn-padding-y;

  &:hover {
    text-decoration: none;
  }

  @include media(md) {
    font-size: 26px;
    margin-bottom: 0;
  }
}

.mission-selector__button {
}
