body.has-modal {
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal {
  display: none;
  background-color: $brand-primary;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  animation: fadeIn .2s;

  &.is-open {
    display: block;
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal__header {
  color: $white;
  text-align: center;
  flex: 0 1 auto;
}

.modal__controls {
  text-align: right;
  padding: 30px 30px 10px;
}

.modal__close-button {

}

.modal__body {
  flex: 1;
  overflow-y: scroll; // needs to be scroll
  -webkit-overflow-scrolling: touch; // maintains scrolling inertia on touch device
}
