.page-header {
  @include make-container();
  margin-bottom: 30px;

  @include media(md) {
    margin-bottom: 50px;
  }
}

.page-header__row {
  @include make-row();
}

.page-header__primary {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  @include make-col-ready();

  @include media(md) {
    @include make-col(7);
    @include make-col-push(1);
    display: block;
  }
}

.page-header__secondary {
  order: -1;
  @include make-col-ready();

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  @include media(md) {
    order: 0;
    padding-top: 20px;
    @include make-col(4);
    @include make-col-push(1);
  }
}

.page-header__breadcrumb {
  flex-basis: 100%;
}

.page-header__content {
  flex: 1;
}

.page-header__controls {
  @include media(md) {
    display: none;
  }
}

.page-header__title {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-semibold;
}

