.page-nav {
  margin-bottom: 60px;
}

.page-nav__toggler {
  padding: 10px;
  border: 1px solid $line-gray;
  width: 100%;
  background: none;
  font-size: 14px;
  font-weight: $font-weight-semibold;
  font-family: inherit;
  text-align: left;
  color: $brand-primary;

  @include media(md) {
    display: none;
  }
}

.page-nav__icon {
  float: right;
}

.page-nav__content {
  @include media-breakpoint-down(sm) {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid $line-gray;
    border-top: 0;
    background-color: #f2f2f2;
  }

  &.has-toggler {
    display: none;

    @include media(md) {
      display: block;
    }
  }

  &.is-toggled {
    display: block;
  }
}

.page-nav__list {
  // nested lists
  .page-nav__list {
    margin-left: 30px;
    border-top: 1px solid $line-gray;
  }
}

.page-nav__list--callouts {
  border-top: 4px solid #cfd5db;
  margin-top: 20px;
  padding-top: 20px;
}

.page-nav__item {
  &:not(:last-of-type) {
    border-bottom: 1px solid $line-gray;
  }

  .page-nav__list--callouts & {
    padding-top: 10px;
    border-bottom: 0;
    margin-bottom: 20px;
  }
}

.page-nav__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  .page-nav__list--callouts & {
    color: $middlebury-blue;
    font-weight: $font-weight-semibold;
    padding: 0;
    display: inline;
    @include link-border();
  }

  .page-nav__item--active > & {
    color: $brand-primary;
    font-weight: $font-weight-semibold;
  }
}

.page-nav__link--active {
  color: $bright-green !important; // TODO: don't use !important
  font-weight: $font-weight-semibold;
}
