.page {
  min-height: 800px;
}

.page__nav {
  @include media(md) {
    float: right;
    position: relative;
    @include make-col-ready();
    @include make-col(4);
  }

  @include media(lg) {
    @include make-col(3);
    margin-left: percentage(1 / $grid-columns);
    margin-right: percentage(1 / $grid-columns);
  }
}

.page__main {
  @include make-row();
  display: block;
}

.page__content {
  @include make-gutters();
}
