.pagination {
  margin-bottom: $component-margin-bottom;
  margin-top: $component-margin-bottom;
}

.pagination__list {
  display: flex;
}

.pagination__item {
  &:not(:last-of-type) {
    margin-right: 29px; // why 29?
  }

  // display: none;

  &:first-of-type,
  &:last-of-type {
    // display: block;
  }
}

.pagination__item--others {
  display: block;
}

.pagination__link {
  display: block;
  font-weight: $font-weight-semibold;
  font-size: 14px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $line-gray;
  }

  &.pagination__link--active {
    background-color: $brand-primary;
    color: $white;
  }
}
