.page-top {
  margin-bottom: 100px;
}

.page-top__text {
  font-family: $font-family-serif;
  font-size: 20px;
  padding-top: 20px;

  @include media(md) {
    font-size: 22px;
    padding-top: 60px;
  }
}
