.page-nav {
  margin-bottom: 60px;
  // display: none;
  // margin-left: -16px;
  // margin-right: -16px;

  @include media(md) {
    display: block;
  }

  &.has-toggler {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &.is-toggled {
    display: block;
  }
}

.page-nav__list {
  @include media(md) {
    margin-bottom: 20px;
  }
}

.page-nav__list--callouts {}

.page-nav__item {
  border-bottom: 1px solid $line-gray;

  @include media(md) {
    &:last-of-type {
      border-bottom: 0;
    }

    .page-nav__list--callouts & {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 0;
    }
  }
}

.page-nav__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  color: $gray;

  @include make-gutters();

  @include media(md) {
    padding-left: 0;
    padding-right: 0;
    color: $middlebury-blue;
  }

  .page-nav__item--active & {
    color: $bright-green;
  }

  .page-nav__list--callouts & {
    font-weight: $font-weight-semibold;
    color: $middlebury-blue;

    @include media(md) {
      padding: 0;
      display: inline-block;
      @include link-border();
    }
  }
}
