.page-header {
}

.page-header__primary {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  @include make-col-ready();

  @include media(md) {
    @include make-col(8);
  }
}

.page-header__secondary {
  @include make-col-ready();
  order: -1;

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  @include media(md) {
    padding-top: 20px;
    order: 1;
    @include make-col(4);
  }
}

.page-header__breadcrumb {
  flex-basis: 100%;
}

.page-header__content {
  flex: 1;
}

.page-header__controls {
  @include media(md) {
    display: none;
  }
}

.page-header__title {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-semibold;
  font-size: 20px;
  margin-bottom: 40px;

  @include media(md) {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

