.panel {
  position: relative;
  overflow: hidden;

  @include media(md) {
    padding-top: percentage(5 / 12);
    background-color: #000;
  }
}

.panel--primary {
  @include media-breakpoint-down(sm) {
    background-color: $middlebury-blue;
  }
}

.panel--secondary {
  @include media-breakpoint-down(sm) {
    background-color: $teal;
  }
}

.panel--tertiary {
  @include media-breakpoint-down(sm) {
    background-color: $green-dark;
  }
}

.panel__media {
  @include media(md) {
    @include absolute();
    z-index: 1;
    opacity: 0.5;
  }
}

.panel__content {
  padding-top: 45px;
  padding-bottom: 45px;
  @include make-container();

  @include media(md) {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.panel__row {
  @include make-row();
  align-items: center;
  height: 100%;
}

.panel__primary {
  @include make-col-ready();

  @include media(md) {
    @include make-col(6);
  }
}

.panel__label {
  color: $white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.04em;
  font-family: $font-family-sans-serif;
  line-height: 1;
  font-weight: $font-weight-normal;
  margin-bottom: 10px;

  @include media(sm) {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.panel__title {
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 10px;
}

.panel__link {
  color: $white;
}

.panel__text {
  margin-bottom: 40px;
  color: $white;
  font-family: $font-family-sans-serif;

  @include media(lg) {
    font-size: 20px;
  }
}

.panel__button {
}

.panel__secondary {
  @include make-col-ready();

  @include media(md) {
    @include make-col(5);
    margin-left: auto;
  }
}

.panel__list {
  margin-top: 60px;

  @include media(md) {
    margin-top: 0;
  }
}

.panel__list-item {
  padding-bottom: 10px;
  margin-bottom: 10px;

  @include media(sm) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(white, 0.3);
  }
}

.panel__list-link {
  color: $white;
  font-family: $font-family-serif;
  opacity: 0.5;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }

  @include media(lg) {
    font-size: 20px;
  }
}

.panel__more-link {
  color: $white;
  border-bottom: 1px solid $white;

  &:hover {
    border-color: transparent;
    text-decoration: none;
  }
}
