.program-spotlight {
  @include media(sm) {
    height: 600px;
  }
}

.program-spotlight__header {
  height: 100%;
  padding: 3rem;
  background-color: $brand-primary;
  display: flex;
  flex-direction: column;
  text-align: center;

  @include media(sm) {
    text-align: left;
  }
}

.program-spotlight__title {
  color: $white;
  font-size: 30px;
  margin-bottom: 1rem;

  @include media(md) {
    font-size: 40px;
  }
}

.program-spotlight__controls {
  display: none;

  @include media(sm) {
    display: block;
    margin-top: auto;
  }
}

.program-spotlight__container {
}

.program-spotlight__content {
  @include media(sm) {
    display: flex;
    height: 600px;
  }

  @include media-breakpoint-only(xs) {
    display: block;
  }
}

.program-spotlight__item {
  // only shows the first 3 items on mobile
  &:nth-of-type(n + 4) {
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  @include media(sm) {
    &:not(:last-child) {
      border-right: 1px solid $white;
    }
  }
}
