.profile-info {
}

.profile-info__title {
  font-weight: $font-weight-semibold;
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
}

.profile-info__text {
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-bottom: 1rem;
}
