$spotlight-item-breakpoint: 'sm';

.program-spotlight-item {
  position: relative;

  @include media(sm) {
    height: 100%;
    overflow: hidden;
  }
}

.program-spotlight-item__controls {
  text-align: right;
  margin-bottom: 5px;
}

.program-spotlight-item__image {
  img {
    display: block;
  }

  @include media($spotlight-item-breakpoint) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.program-spotlight-item__content {
  padding: 20px;

  @include media($spotlight-item-breakpoint) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    padding: 30px;
  }

  @include media(md) {
    padding: 50px;
  }
}

.program-spotlight-item__side {
  @include media($spotlight-item-breakpoint) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.program-spotlight-item__side--front {
  .program-spotlight-item.has-toggler.is-toggled & {
    display: none;
  }
}

.program-spotlight-item__side--back {
  .program-spotlight-item.has-toggler & {
    display: none;
  }

  .program-spotlight-item.is-toggled & {
    display: flex;
  }
}

.program-spotlight-item__body {
  @include media($spotlight-item-breakpoint) {
    flex: 1;
  }
}

.program-spotlight-item__footer {
  display: none;

  @include media($spotlight-item-breakpoint) {
    display: block;
    flex: 0 1 auto;
  }
}

.program-spotlight-item__title {
  font-size: 20px;
  font-family: $font-family-serif;
  margin-bottom: 10px;

  @include media(md) {
    font-size: 22px;
  }
}

.program-spotlight-item__link {
}

.program-spotlight-item__text {
  color: $black;
}
