.profile-teaser {
  display: flex;

  // HACK: we should wrap the teasers in a list or use a modifier class
  .profile-listing & {
    margin-bottom: $list-item-margin-bottom-lg;
  }
}

.profile-teaser__media {
  flex: 0 0 auto;
  margin-right: 1.5rem;
}

.profile-teaser__content {
}

.profile-teaser__name {
}

.profile-teaser__title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1rem;
}

.profile-teaser__social {
  margin-bottom: 1rem;
}

.profile-teaser__info {
  font-size: 14px;
  margin-bottom: 1rem;
}

.profile-teaser__text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
}
