$spotlight-item-breakpoint: 'sm';

.program-spotlight-item {
  position: relative;
  margin-bottom: 1rem;

  @include media(sm) {
    margin-bottom: 0;
    height: 100%;
    overflow: hidden;
  }
}

.program-spotlight-item__image {
  @include media($spotlight-item-breakpoint) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.program-spotlight-item__content {
  @include media($spotlight-item-breakpoint) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
}

.program-spotlight-item__side {
  @include media($spotlight-item-breakpoint) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.program-spotlight-item__side--front {
  .program-spotlight-item.has-toggler.is-toggled & {
    display: none;
  }
}

.program-spotlight-item__side--back {
  background-color: $lighter-blue;

  .program-spotlight-item.has-toggler & {
    display: none;
  }

  .program-spotlight-item.is-toggled & {
    display: flex;
  }
}

.program-spotlight-item__body {
  padding: 1rem;

  @include media($spotlight-item-breakpoint) {
    flex: 1;
    padding: 3rem;

    .program-spotlight-item__side--back & {
      padding-top: 0;
    }
  }
}

.program-spotlight-item__footer {
  display: none;

  @include media($spotlight-item-breakpoint) {
    display: block;
    flex: 0 1 auto;
    padding: 3rem;
    padding-top: 0;
  }
}

.program-spotlight-item__title {
  font-size: 20px;
  font-family: $font-family-serif;
  margin-bottom: 10px;

  @include media($spotlight-item-breakpoint) {
    font-size: 22px;
  }
}

.program-spotlight-item__link {
}

.program-spotlight-item__text {
  color: $black;
}
