.profile-explorer {
  margin-bottom: 100px;
}

.profile-explorer__controls {
  background-color: $light-blue;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.profile-explorer__form-group {
  @include media(md) {
    display: flex;
  }
}

.profile-explorer__label {
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: $font-weight-semibold;
  font-family: $font-family-sans-serif-condensed;
  font-size: 16px;

  @include media(md) {
    flex: 0 0 auto;
    align-self: center;
    margin-right: 40px;
  }
}

.profile-explorer__control {

}
