.profile-section {
  margin-bottom: 3rem;
}

.profile-section__title {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  margin-bottom: 1.5rem;
}

.profile-section__list {
  list-style-type: disc;
  padding-left: 2rem;
}

.profile-section__item {
  font-family: $font-family-serif;
  color: $text-gray;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
