.projects {
  background-image: url('/images/projects-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 4rem;
  padding-top: 4rem;
  margin-bottom: $component-margin-bottom;

  @include make-gutters();
}

.projects__section-title {
  @include section-title();
  color: $white;
}

.projects__content {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.projects__list {
  margin-bottom: 3rem;
}

.projects__item {
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
    &:after {
      content: '';
      display: block;
      width: 50px;
      background-color: $white;
      height: 1px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
    }
  }
}

.projects__title {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  margin-bottom: 1rem;
}

.projects__link {
  color: $white;
}

.projects__text {
  color: $white;
}
