.pullquote {
  margin-bottom: $component-margin-bottom;
}

.pullquote__text {
  color: $teal;
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 1.5rem;
  quotes: '“' '”';

  .pullquote--is-quote & {
    position: relative;

    &:before {
      content: open-quote;
      position: absolute;
      top: 0;
      right: 100%;
    }

    &:after {
      content: close-quote;
    }
  }
}

.pullquote__cite {
  font-size: 14px;
  line-height: 20px;
}
