.section {
  margin-bottom: 100px;
}

.section--aside {
  margin-bottom: 80px;

  .section__header {
    margin-bottom: 25px;
  }

  .section__title {
    color: $gray;
    font-size: 13px;
  }
}

.section__header {
  margin-bottom: 50px;
  @include media(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.section__title {
  @include section-title();
}

.section__link {
  margin-top: 10px;
  display: inline-block;
  font-weight: $font-weight-medium;
  @include link-border();

  @include media(md) {
    margin-top: 0;
  }
}
