.section {
  margin-bottom: $component-margin-bottom;
}

.section--aside {
  margin-bottom: $component-margin-bottom / 2;
}

.section__header {
  margin-bottom: $section-title-margin-bottom;

  @include media(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.section__title {
  // TODO: need to not apply margin instead of reseting it to 0
  @include section-title(0);
}

.section__link {
  display: inline-block;
  font-weight: $font-weight-medium;
  margin-top: 1rem;
  @include link-border();

  @include media(md) {
    margin-top: 0;
  }
}
