.section {
  margin-bottom: 100px;
}

.section--aside {
  margin-bottom: 80px;

  .section__header {
    margin-bottom: 25px;
  }

  .section__title {
    color: $gray;
    font-size: 13px;
  }
}

.section--projects {
  background-image: url('/images/projects-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: $white;
  text-align: center;
  padding-bottom: 65px;

  .section__header {
    padding-top: 60px;
    display: block;
    text-align: center;
  }

  .section__title {
    // display: inline-block;
  }
}

.section__header {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.section__title {
  // TODO: need to use a heading element or class e.g. .h3
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: $font-weight-semibold;
  font-family: $font-family-sans-serif-condensed;
  font-size: rem(16);
  margin-bottom: 0;
  margin-top: 0;
}

.section__nav {
  justify-content: flex-end;
  text-align: right;
  flex: 1;
}

.section__nav-link {
  font-weight: $font-weight-medium;
  border-bottom: 1px solid $middlebury-blue;

  &:hover,
  &:focus {
    text-decoration: none;
    border: 0;
  }
}
