.sidebar-search {
  padding: 30px;
  background-color: $warm-gray;
}

.sidebar-search__control {
  background-color: $white;
  border: 0;

  &::placeholder {
    color: $black;
  }
}

.sidebar-search__button {
  padding: 20px;
}
