.site-menu-button {
  color: $white;
  font-size: 14px;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: -0.5rem;
  display: inline-block;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @include media(md) {
    text-align: center;
    margin-top: 0;
  }
}

.site-menu-button__text {
  display: none;
}

.site-menu-button__text--open {
  @include media(sm) {
    display: inline-block;
  }

  @include media(md) {
    display: block;
  }

  .site-menu-button.is-toggled & {
    display: none;

    @include media(md) {
      display: none;
    }
  }
}

.site-menu-button__text--close {
  display: none;

  .site-menu-button.is-toggled & {
    @include media(sm) {
      display: inline-block;
    }

    @include media(md) {
      display: block;
    }
  }
}

.site-menu-button__icon {
  margin-left: 20px;

  @include media(md) {
    margin-left: 0;
    margin-top: 20px;
  }
  // TODO: need to toggle icon--close class on the icon with js instead.
  // These styles should be in _icon.scss
  // possibly use an api like data-toggle-target=".something, .anotherthing"
  .site-menu-button.is-toggled & {
    background-color: transparent;

    &:before {
      bottom: 0;
      transform: rotate(45deg);
    }

    &:after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
