.site-header {
  background-color: $brand-primary;
  display: flex;
  flex-direction: column;
  align-items: space-between;

  @include media(md) {
    height: $header-height;
    position: absolute;
    z-index: 3;

    &.is-toggled,
    .home & {
      width: $header-width;
    }
  }
}

.site-header__primary {
  display: flex;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  @include make-gutters();

  @include media(md) {
    display: block;
  }
}

.site-header__brand {
  flex: 1;
  align-self: center;

  @include media(md) {
    margin-bottom: 20px;
  }
}

.site-header__title {
}

.site-header__home-link {
}

// TODO: change to svg
.site-header__logo {
  display: block;
  background-image: url('/images/miis-logo.svg');
  background-repeat: no-repeat;
  width: 213px;
  height: 40px;
  text-indent: -9999px;

  @include media(md) {
    background-image: url('/images/miis-shield.svg');
    width: 52px;
    height: 58px;

    .home &,
    .site-header.is-toggled & {
      background-image: url('/images/miis-logo.svg');
      width: 305px;
      height: 58px;
    }
  }
}

.site-header__menu-button {
  flex: 0 1 auto;
  align-self: center;
  text-align: center;

  .site-header.is-toggled & {
    text-align: left;
  }

  @include media(md) {
    min-height: 70px;
    // text-align: center;
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);

    .home & {
      visibility: hidden;
    }
  }
}

.site-header__secondary {
  flex: 1;

  .site-header.has-toggler & {
    display: none;
  }

  .site-header.is-toggled & {
    display: flex;
    flex-direction: column;
  }

  .home.home & {
    @include media(md) {
      display: flex;
      flex-direction: column;
    }
  }
}

.site-header__search {
  padding-top: 30px;
  padding-bottom: 30px;
  @include make-gutters();

  @include media(md) {
    order: 2;
    padding-bottom: 60px;
  }
}

.site-header__nav {
  position: relative;
  z-index: 2;
  // overflow: hidden;
  // height: 100vh;
  // padding-left: 30px;
  // padding-right: 30px;

  @include media(md) {
    order: 1;
    flex: 1;
    // height: 100%;
    overflow: visible;
    position: static;
    // margin-bottom: 80px;
  }
}
