.site-search {
}

.site-search__label {
  @include sr-only();
}

.site-search__control {
  border: 1px solid transparent;
  color: $white;
  background-color: $brand-primary-dark;

  &:focus {
    background-color: $brand-primary-dark;
    border-color: $white;
    outline: 0;
  }

  &::placeholder {
    color: $white;
  }
}

.site-search__button {
  border: 1px solid transparent;
  color: $white;
  background-color: $brand-primary-dark;

  &:focus {
    border-color: $white;
    outline: 0;
  }
}
