.site-search {
  // background-color: $brand-primary-dark;
  // padding: 10px;

  @include media(md) {
    // background: none;
    // padding-left: 70px;
    // padding-right: 70px;
  }
}

.site-search__label {
  @include sr-only();
}

.site-search__control {
  border: 1px solid transparent;
  color: $white;
  padding: 10px;
  background-color: $brand-primary-dark;

  &:focus {
    background-color: $brand-primary-dark;
    border-color: $white;
    outline: 0;
  }

  @include media(md) {
    // font-size: 14px;
    // background-color: transparent;

    &:focus {
      // padding: 5px;
      // background-color: $white;
      // color: $black;
    }
  }

  &::placeholder {
    color: $white;

    @include media(md) {
      // color: $light-blue;
    }
  }
}

.site-search__button {
  border: 1px solid transparent;
  color: $white;
  height: 100%;
  background-color: $brand-primary-dark;

  &:focus {
    border-color: $white;
    outline: 0;
  }

  svg {
    fill: $white;
  }

  @include media(md) {
    // padding: 0;
  }
}
