.slideshow {
  margin-bottom: $component-margin-bottom;
}

.slideshow__title {
  margin-bottom: 10px;
  font-size: 22px;
}

.slideshow__container {
  background-color: $teal;
}

.slideshow__content {
  // background-color: $teal;
}

.slideshow__item {
}

.slideshow__caption {
  color: $white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-family: $font-family-serif;
  font-size: 18px;
}

.slideshow__footer {
  padding: 20px;
  text-align: right;
}

.slideshow__controls {
  display: inline-flex;
}

.slideshow__button {
  border: 0;
  background-color: transparent;
  color: $white;
  padding: 10px;
  cursor: pointer;

  &.is-disabled {
    opacity: 0.5;
  }
}

.slideshow__pagination {
  color: $white;
  min-width: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.slideshow__button--next {
}

.slideshow__button--prev {
}
