.social-links {
}

.social-links__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.social-links__link {
  display: inline-block;
  color: $green-light;
  transition: 0.2s;

  &:hover,
  &:focus {
    .social-links--light & {
      opacity: 0.5;
    }

    color: $middlebury-blue;
  }

  .social-links--light & {
    color: $white;
  }
}
