.social-links {
}

.social-links__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.social-links__link {
  display: inline-block;
  color: $white;
  transition: .2s;

  &:hover,
  &:focus {
    .social-links--light & {
      opacity: 0.5;
    }

    svg {
      fill: $middlebury-blue;
    }
  }

  svg {
    fill: $bright-green;
    transition: .2s;

    .social-links--light & {
      fill: $white;
    }
  }
}
