.story-teaser {
  @include clearfix;

  @include media(md) {
    display: flex;
  }

  &.story-teaser--featured {
    display: block;
    border-bottom: 1px solid $border-color;
    margin-bottom: $list-item-margin-bottom-lg;
    padding-bottom: $list-item-margin-bottom-lg; // must be list--lg list__item padding
  }
}

.story-teaser__media {
  float: right;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;

  .story-teaser--featured & {
    float: none;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
  }

  @include media(md) {
    flex: 0 0 auto;
    float: none;
    padding-left: 1.5rem;
    padding-bottom: 0;
  }
}

.story-teaser__body {
  @include media(md) {
    flex: 1;
    order: -1;
  }
}

.story-teaser__pubdate {
  display: block;
  font-size: 14px;
  font-weight: $font-weight-medium;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}

.story-teaser__title {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  margin-bottom: 0.5rem;

  .story-teaser--featured & {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
  }
}

.story-teaser__author {
  font-size: 14px;
  line-height: 20px;
}
