.tags {
  display: flex;
  align-items: center;
}

.tags__label {
  font-size: 14px;
  color: $text-gray;
  margin-right: 5px;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
}

.tags__item {
  flex: 1 0 auto;

  &:not(:last-of-type) {
    margin-right: 5px;

    &:after {
      content: ',';
      margin-left: -4px;
    }
  }
}

.tags__link {
  font-size: 14px;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
