.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags__item {
  &:not(:last-child):after {
    content: ',';
    display: inline-block;
    padding-right: 4px;
    margin-left: -4px;
  }
}

.tags__link {
  font-size: 14px;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
