{% extends "layout.twig" %}

{% set page_header = {
  title: 'Top Level Page',
  breadcrumb: [
    { text: 'Areas of Focus' },
  ]
} %}

{% block page %}

  {% include 'partials/page-image-full.twig' %}

  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-9">

        {% include 'partials/lead.twig' %}

        {% include 'paragraphs/text.twig' %}

        {% include 'paragraphs/image.twig' %}

        {% include 'partials/grid-nav.twig' %}

        {% include 'paragraphs/slideshow.twig' %}

        {% include 'paragraphs/video.twig' %}

        {% include 'paragraphs/related-events-list.twig' %}

        {% include 'paragraphs/related-stories-list.twig' %}


      </div>
    </div>
  </div>

  <div class="container">
    {% include 'partials/mission-selector.twig' %}
  </div>

  <div class="container">
    {% include 'partials/callout-group.twig' %}
  </div>


{% endblock %}
