{% extends "layout.twig" %}

{% block page %}
<div class="container">
  <div class="row">
    <div class="col-md-11 col-md-push-1">

      <div class="row">
        <div class="col-md-4 flex-md-last">
          {% block layout_sidebar %}
          {% endblock %}
        </div>
        <div class="col-md-8">
          {% block layout_content %}
          {% endblock %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

