<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/83898/7863772/css/fonts.css" />
</head>
<body id="pagetop">
  <div id="skip-link">
    <a href="#main" class="element-invisible element-focusable">Skip to content</a>
  </div>
  <div class="site-container">
    {% include 'partials/header.twig' %}
    <main class="main" id="main">
      {% block page %}{% endblock %}
    </main>
    {% include 'partials/footer.twig' %}
  </div>
  {% include 'partials/mission-modal.twig' %}
  <script src="js/bundle.js" async></script>
</body>
</html>
