<!DOCTYPE html>
<html>
<head>
  {# <base href="https://learn.middlebury.edu" > #}
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# <link rel="stylesheet" href="https://learn.middlebury.edu/place-design"> #}
  <link rel="stylesheet" href="css/pardot-place-template.css">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/83898/706148/css/fonts.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="%%description%%"/>
  <title>%%title%%</title>
</head>
<body>
  <header class="site-header">
    <div class="container">
      <span class="site-title">
        <img src="https://storage.pardot.com/74172/262517/miis_logo.svg" alt="Logo for Middlebury Institute of International Studies at Monterey" width="300">
        <span class="sr-only">Middlebury Institute of International Studies at Monterey</span>
      </span>
    </div>
  </header>
  <div class="site-container container">

    <div class="hero">
      <h1 class="hero__title" pardot-region-type="simple" pardot-region="hero-title">Stop the spread of WMD.</h1>
      <p class="hero__text" pardot-region-type="simple" pardot-region="hero-text">Earn a Master's in Nonproliferation and Terrorism Studies</p>
    </div>

    <div class="content">
      <div class="content__main">
        <div class="typography" pardot-region="pardot">
          <h2>Program Hightlights</h2>
          <ul>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam odit sed, vitae non corrupti provident, sequi unde totam alias fugiat, veniam officiis? In dolorem perferendis accusamus amet delectus facilis error.</li>
            <li>Earum, adipisci totam ab eaque possimus rerum molestiae voluptatibus alias accusamus modi. Sunt voluptate at, rerum nostrum quia tempora, ipsum voluptatibus repellendus ipsam sequi vel dolore harum quod, perferendis culpa.</li>
            <li>Non beatae doloremque soluta incidunt, eaque excepturi delectus voluptas nostrum quidem vel? Earum incidunt, cumque pariatur dignissimos, quasi perspiciatis nihil vero aut quo asperiores eos nam sint facilis illo minima?</li>
          </ul>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque molestias commodi magni ullam ratione unde suscipit? Quod culpa voluptate alias iste omnis. Fugit velit eligendi fuga temporibus placeat mollitia adipisci!</p>
        </div>
      </div>

      <div class="content__form">

        <div class="lp-form">
          <h3 class="lp-form__title" pardot-region-type="simple" pardot-region="form-title">Get a Free Program Guide</h3>

          %%content%%

          <p class="lp-form__text">Your advisor will contact you within one business day to learn more about your career goals.</p>

        </div>

      </div>
    </div>

    <dl class="lp-stats">
      <div class="lp-stats__item">
        <dt class="lp-stats__title" pardot-region-type="simple" pardot-region="stat-1-label">88%</dt>
        <dd class="lp-stats__text" pardot-region-type="simple" pardot-region="stat-1-text">of students receive scholarships</dd>
      </div>
      <div class="lp-stats__item">
        <dt class="lp-stats__title" pardot-region-type="simple" pardot-region="stat-2-label">350+</dt>
        <dd class="lp-stats__text" pardot-region-type="simple" pardot-region="stat-2-text">professional internships</dd>
      </div>
      <div class="lp-stats__item">
        <dt class="lp-stats__title" pardot-region-type="simple" pardot-region="stat-3-label">94%</dt>
        <dd class="lp-stats__text" pardot-region-type="simple" pardot-region="stat-3-text">employed one year after graduation</dd>
      </div>
    </dl>

    <figure class="video js-video-bg" data-video>
      <a
        href="https://vimeo.com/150675649"
        class="js-show-in-editor"
        data-video-src
        pardot-region="video-link"
        pardot-region-type="link">View video</a>

      <img
        src="https://placehold.it/1024x576"
        alt=""
        class="js-show-in-editor"
        pardot-region="video-image"
        pardot-region-type="image"
        data-cover-bg=".js-video-bg"
      />

      <a href="#" class="video__link" data-video-trigger>
        <figcaption class="video__content">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" class="video__icon">
            <path fill="#FFF" fill-rule="evenodd" d="M0 100l100-50L0 0z"/>
          </svg>
          <p class="video__text">&ldquo;<span pardot-region="video-text" pardot-region-type="simple">Important problems with real-world implications</span>&rdquo;</p>
          <span class="video__cta" pardot-region="video-cta" pardot-region-type="simple">Watch Program Overview</span>
        </figcaption>
      </a>
    </figure>

    <figure class="quote">
      <img src="https://placehold.it/250x250" alt="" pardot-region="quote-image" pardot-region-type="image" class="quote__image">
      <figcaption class="quote__body">
        <blockquote class="quote__text">&ldquo;<span pardot-region="quote-text" pardot-region-type="simple">The Institutes exemplary faculty and far-reaching connections are what have made my experiences here amazing.</span>&rdquo;</blockquote>
        <span class="quote__cite">
          <span pardot-region="quote-name" pardot-region-type="simple">Kyle Pilutti, Student</span><br>
          <span pardot-region="quote-program" pardot-region-type="simple">Nonproliferation and Terrorism Studies</span>
        </span>
      </figcaption>
    </figure>

  </div>
  <footer class="site-footer">
    <div class="container site-footer__container">
      <img src="https://storage.pardot.com/74172/262515/middlebury_logo_white.svg" alt="Logo for Middlebury" width="150">
      <ul class="site-footer__nav">
        <li><a href="http://www.middlebury.edu/about/privacy">Privacy Policy</a></li>
        <li><a href="http://www.middlebury.edu/about/copyright">Copyright</a></li>
      </ul>
    </div>
  </footer>
  <script>
    (function() {

      function getVimeoIdFromUrl(url) {
        var re = /(?!\/)[0-9]{9}/;
        var id = url.match(re)[0];
        return id
      }

      function handleVideoClick(event,video,link) {
        var id = getVimeoIdFromUrl(link.href);

        if(!id) {
          // do nothing on links without proper url
          return;
        }

        event.preventDefault();

        var src = 'https://player.vimeo.com/video/' + id + '?autoplay=1';

        var iframe = document.createElement('iframe');
        iframe.src = src;
        iframe.allow = 'autoplay';
        iframe.frameBorder = '0';

        video.classList.add('has-video');
        video.innerHTML = '';
        video.appendChild(iframe);
      }

      var videos = document.querySelectorAll('[data-video]');
      [].forEach.call(videos, function(video) {

        var trigger = video.querySelector('[data-video-trigger]');
        var link = video.querySelector('[data-video-src]');
        trigger.addEventListener('click', function(event) {
          handleVideoClick(event, video, link)
        });
      });

      // force display video link if pardot-loaded is in page e.g. user is editing page template content

      function setVideoBg() {
        var el = document.querySelector('[data-video]')
        var img = el.querySelector('img');

        // set the background
        el.style.backgroundImage = 'url(' + img.src + ')';
        el.style.backgroundSize = 'cover';
        el.style.backgroundPosition = 'center';

      }

      setVideoBg()


      window.onload = function() {
        var loaded = document.querySelector('#pardot-loaded')
        if(loaded) {
          [].forEach.call(document.querySelectorAll('.js-show-in-editor'), function(el) {
            el.classList.remove('js-show-in-editor');
          });
        }
      }

    })();


  </script>
</body>
</html>
