{% set is_front = true %}
{% extends "layout.twig" %}

{% set bodyClass = 'home' %}

{% block page %}

  {% include 'partials/homepage-hero.twig' %}

  {% include 'partials/degree-finder.twig' %}

  {% include 'paragraphs/spotlight.twig' %}

  {% include 'paragraphs/chart-group.twig' with {
    title: 'Make a Smart Investment in Your Career',
    text: 'When you earn a master’s degree from the Middlebury Institute, you’ll be prepared to be a leader in high-demand global industries and organizations. With our scholarships, grants, and other aid, you’ll see that our programs are an affordable investment in your future.',
    items: [
      {
        type: 'stats',
        number: 11,
        label: 'Graduate Degrees'
      },
      {
        type: 'stats',
        number: 100,
        suffix: '+',
        label: 'Professional Internships'
      },
      {
        type: 'stats',
        number: 94,
        suffix: '%',
        label: 'Employed one year after graduation'
      }
    ]
  } %}

  {% include 'paragraphs/logo-bar.twig' %}

  {% include 'paragraphs/themed-panel.twig' %}

  {% include 'partials/callout-group.twig' %}

  {% include 'partials/program-spotlight.twig' %}

  <div class="container">
    {% include 'partials/profile-spotlight.twig' %}
  </div>

{% endblock %}
