{% extends "layout.twig" %}

{% set bodyClass = 'home' %}

{% block page %}

  {% include 'partials/homepage-hero.twig' %}

  {% include 'partials/mission-selector.twig' with {
    overlap: true
  } %}

  <div class="container">

    <section class="section">
      <div class="row text-center text-md-left">
        <div class="col-md-6 col-lg-3 border-md-r mb-4 mb-lg-0">
          <div class="border-b border-md-b-0 pb-4 pb-md-0">
            {% include 'partials/card.twig' with {
              title: 'Practical Innovation',
              text: 'The world needs people who can understand our greatest challenges, from poverty to climate change, and the connections between them.'
            } %}
          </div>
        </div>
        <div class="col-md-6 col-lg-3 border-lg-r mb-4 mb-lg-0">
          <div class="border-b border-md-b-0 pb-4 pb-md-0">
          {% include 'partials/card.twig' with {
            title: 'Cultural Fluency',
            text: 'Learning in language and intercultural studies are integral to an Institute education. These skills are central to achieving effective change around the world.'
          } %}
          </div>
        </div>
        <div class="col-md-6 col-lg-3 border-md-r">
          <div class="border-b border-md-b-0 pb-4 pb-md-0 mb-4 mb-md-0">
          {% include 'partials/callout.twig' with {
            preheader: 'Register for',
            title: 'Monterey Forum',
            subtext: 'March 28-29, 2017',
            buttonText: 'Register',
            buttonHref: '#',
          } %}
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          {% include 'partials/callout.twig' with {
            preheader: 'Application for',
            title: 'Spring 2017 Now Open',
            buttonText: 'Apply Now',
            buttonHref: '#',
          } %}
        </div>
      </div>
    </section>

  </div>

  <div class="container">

    <div class="section">
      <div class="row">
        <div class="col-md-6 border-md-r">
          <div class="mb-6 mb-md-0 pb-6 pb-md-0 border-b border-md-b-0">

            {% embed 'partials/section.twig' with {
              title: 'Latest News',
              class: 'mb-0',
              moreLinkHref: '#',
              moreLinkText: 'More News'
            } %}
              {% block content %}
                <ol class="list list--lg">
                  {% for item in homepage.latest_news %}
                    <li class="list__item">
                      {% include 'partials/story-teaser-lite.twig' with {
                        title: item.title,
                        link: '#',
                        text: item.text
                      } %}
                    </li>
                  {% endfor %}
                </ol>
              {% endblock %}
            {% endembed %}
          </div>
        </div>
        <div class="col-md-6">
          {% embed 'partials/section.twig' with {
            title: 'Upcoming Events',
            class: 'mb-0',
            moreLinkHref: '#',
            moreLinkText: 'More Events'
          } %}
            {% block content %}
              <ol class="list list--lg">
                {% for item in homepage.upcoming_events %}
                  <li class="list__item">
                    {% include 'partials/event-teaser-lite.twig' with {
                      date: 'Jul 12, 2016',
                      time: '1:00 PM',
                      title: 'Museum of Art Lecture Series',
                      location: 'McCone Irvine Auditorium'
                    } %}
                  </li>
                {% endfor %}
              </ol>
            {% endblock %}
          {% endembed %}
        </div>
      </div>
    </div>

  </div>

  <section class="section" aria-labelledby="midd-program-spotlight-label">
    {% include 'partials/program-spotlight.twig' %}
  </section>

  <div class="container">

    {% include 'paragraphs/related-basic-content.twig' with {
      count: 3,
      image_sizes: image_sizes,
      breakpoints: breakpoints
    } %}

    {% include 'paragraphs/related-basic-content.twig' with {
      count: 3,
      image_sizes: image_sizes,
      breakpoints: breakpoints,
      is_last_lg: true
    } %}

    {% include 'partials/projects.twig' %}

  </div>

{% endblock %}
