{% extends "layout.twig" %}

{% set page_header = {
  title: 'Sustainable Development',
  breadcrumb: [
    { text: 'Areas of Focus' },
  ]
} %}

{% block page %}

  {% include 'partials/page-image-full.twig' %}

  <div class="container">
    <div class="row">
      <div class="col-md-push-1 col-md-9">
        {% include 'partials/lead.twig' %}

        {% include 'paragraphs/text.twig' %}

      </div>
    </div>
  </div>

  {% include 'partials/panel.twig' with {
    label: 'Program Spotlight',
    labelledby: 'midd-panel-label-program-spotlight',
    title: 'International Environmental Policy',
    link_text: 'Explore and Compare Programs',
    link_url: '#',
    modifier: 'primary',
    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quia a amet maiores modi illum nisi quidem fugit quo totam. Minus odio harum maxime, sapiente aspernatur eligendi, quidem eaque tenetur.',
    list: [
      { text: 'Master of Arts in International Environmental Policy', url: '#' },
      { text: 'Master of Arts in Nonproliferation and Terrorism Studies', url: '#' },
      { text: 'Master of Public Administration', url: '#' },
    ],
    list_more_link_text: 'View all Sustainable Development Programs',
    list_more_link_url: '#'
  } %}

  <div class="container">
    <div class="row">
      <div class="col-md-push-1 col-md-9">
        {% include 'paragraphs/related-stories.twig' %}
      </div>
    </div>
  </div>

  {% include 'partials/panel.twig' with {
    label: 'Campus Spotlight',
    labelledby: 'midd-panel-label-campus-spotlight',
    title: 'The Sustainability Council',
    link_text: 'Learn more',
    link_url: '#',
    modifier: 'secondary',
    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quia a amet maiores modi illum nisi quidem fugit quo totam. Minus odio harum maxime, sapiente aspernatur eligendi, quidem eaque tenetur.',
  } %}

  <div class="container">
    <div class="row">
      <div class="col-md-push-1 col-md-9">
        {% include 'paragraphs/related-events.twig' with {
          image_sizes: image_sizes
        } %}
        </div>
      </div>
    </div>

  {% include 'partials/panel.twig' with {
    label: 'Center Spotlight',
    labelledby: 'midd-panel-label-center-spotlight',
    title: 'The Sustainability Council',
    link_text: 'Learn more',
    link_url: '#',
    modifier: 'tertiary',
    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quia a amet maiores modi illum nisi quidem fugit quo totam. Minus odio harum maxime, sapiente aspernatur eligendi, quidem eaque tenetur.',
  } %}

  <div class="container">
    {% include 'partials/callout-group.twig' %}
  </div>

{% endblock %}
