{% extends "layout.twig" %}

{% set page_header = {
  title: 'Sustainable Development',
  breadcrumb: [
    { text: 'Areas of Focus' },
  ]
} %}

{% block page %}

  <div class="container">

    <div class="text-right mb-6">
      <figure class="media media--image">
        <picture>
          {# <source srcset="http://placehold.it/1440x1080" media="(min-width: 580px)">
          <source srcset="http://placehold.it/720x540">
          <img src="http://placehold.it/1440x1080" alt=""> #}
          <source srcset="http://placehold.it/1440x810" media="(min-width: 580px)">
          <source srcset="http://placehold.it/720x405">
          <img src="http://placehold.it/1440x810" alt="">
        </picture>
        <figcaption class="media__caption">Some caption for the image here.</figcaption>
      </figure>
    </div>

  </div>

  {# {% embed 'partials/page-hero.twig' %}
    {% block content %}
      <div class="typography">
        <h3>We reach across boundaries and marry principles with real-world engagement</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit facilis adipisci quod neque ab, dicta laudantium, repudiandae optio dignissimos necessitatibus dolorem possimus, tenetur consequuntur deleniti eligendi omnis, porro eveniet nemo.</p>
        <p>Accusamus doloribus beatae tenetur, consectetur hic laboriosam, voluptates, nesciunt officiis minima obcaecati id. Amet quidem doloremque odit delectus illum illo, ea expedita aut eius natus, impedit sed iste maxime libero.</p>
      </div>
    {% endblock %}
  {% endembed %} #}

  <div class="container">
    {% include 'paragraphs/related-stories.twig' %}
  </div>

  <div class="mb-6">
    {% include 'partials/panel.twig' with {
      label: 'Program Spotlight',
      title: 'International Environmental Policy',
      link_text: 'Explore and Compare Programs',
      link_url: '#',
      modifier: 'primary',
      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quia a amet maiores modi illum nisi quidem fugit quo totam. Minus odio harum maxime, sapiente aspernatur eligendi, quidem eaque tenetur.',
      list: [
        { text: 'Master of Public Administration (MPA)', url: '#' },
        { text: 'Master of Public Administration (MPA)', url: '#' },
        { text: 'Master of Public Administration (MPA)', url: '#' },
        { text: 'Master of Public Administration (MPA)', url: '#' },
      ],
      list_more_link_text: 'View all Sustainable Development Programs',
      list_more_link_url: '#'
    } %}
  </div>

  <div class="container">
    {% include 'paragraphs/related-basic-content.twig' with {
      count: 3,
      is_last_lg: true
    } %}
  </div>

  <div class="mb-6">
    {% include 'partials/panel.twig' with {
      label: 'Campus Spotlight',
      title: 'The Sustainability Council',
      link_text: 'Learn more',
      link_url: '#',
      modifier: 'secondary',
      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quia a amet maiores modi illum nisi quidem fugit quo totam. Minus odio harum maxime, sapiente aspernatur eligendi, quidem eaque tenetur.',
    } %}
  </div>

  <div class="container">
    {% include 'paragraphs/related-events.twig' %}
  </div>

  {% include 'partials/panel.twig' with {
    label: 'Campus Spotlight',
    title: 'The Sustainability Council',
    link_text: 'Learn more',
    link_url: '#',
    modifier: 'secondary',
    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quia a amet maiores modi illum nisi quidem fugit quo totam. Minus odio harum maxime, sapiente aspernatur eligendi, quidem eaque tenetur.',
  } %}

  {% include 'partials/callout-group.twig' %}

{% endblock %}
