{% extends "layout-sidebar.twig" %}

{% set page_header = {
  title: 'Masters in Public Administration',
  breadcrumb: [
    {
      text: 'Academics',
      href: '#',
    },
    {
      text: 'Degree Programs',
      href: '#',
    }
  ],
  callout_title: 'Application for Spring 2017 Now Open',
  callout_link_url: '#',
  callout_link_text: 'Apply Now'
} %}

{# For some reason the sidebar is not showing up. Due to conflicts with blocks? #}

{% block layout_sidebar %}

  {% include 'partials/page-nav.twig' with {
    items: [
      { text: 'Curriculum', href: '#' },
      { text: 'Faculty', href: '#' },
      { text: 'Financing Your Education', href: '#' },
    ],
    callouts: [
      { text: 'Request Information', href: '#' },
      { text: 'Apply by July 10 for Fall 2017', href: '#' },
    ]
  } %}

{% endblock %}

{% block layout_content %}

  {% include 'partials/lead.twig' %}

  {% include 'paragraphs/text.twig' %}

  {% include 'paragraphs/video.twig' %}

  {% include 'paragraphs/related-basic-content.twig' %}

  {% include 'paragraphs/related-stories-list.twig' %}

  <div class="grid-expand">
    {% include 'partials/program-panel.twig' %}
  </div>

{% endblock %}

{% block page_footer %}
  <div class="container">
    {% include 'partials/callout-group.twig' %}
  </div>
{% endblock %}
