{% extends "layout-sidebar.twig" %}

{% set page_header = {
  title: 'Masters in Public Administration',
  breadcrumb: [
    {
      text: 'Academics',
      href: '#',
    },
    {
      text: 'Degree Programs',
      href: '#',
    }
  ],
  callout_title: 'Application for Spring 2017 Now Open',
  callout_link_url: '#',
  callout_link_text: 'Apply Now'
} %}

{# For some reason the sidebar is not showing up. Due to conflicts with blocks? #}

{% block layout_sidebar %}

  {% include 'partials/page-nav.twig' with {
    items: [
      { text: 'Curriculum', href: '#' },
      { text: 'Faculty', href: '#' },
      { text: 'Financing Your Education', href: '#' },
    ],
    callouts: [
      { text: 'Request Information', href: '#' },
      { text: 'Apply by July 10 for Fall 2017', href: '#' },
    ]
  } %}

{% endblock %}

{% block layout_content %}

  <div class="typography">
    <p class="intro">The Middlebury Institute Master of Public Administration (MPA) is designed for those who want to make a difference in confronting critical social problems, including hunger, poverty, disease, joblessness, and powerlessness.</p>
    <p>Through hands-on experience, applied learning, practical tools, and community support, this program prepares graduates to be effective leaders and managers in international development for social change organizations, NGOs, nonprofits and government agencies around the world. The four-semester 60-credit program includes core coursework and optional areas of concentration, as well as courses taught in a student’s chosen language of study and a professional practicum.</p>
  </div>

  {% include 'paragraphs/video.twig' %}

  {% include 'paragraphs/related-basic-content.twig' %}

  {% embed 'partials/section.twig' with {
    title: 'Our faculty are professionals, on campus and in the field',
    moreLinkHref: '#',
    moreLinkText: 'Call to action'
  } %}
    {% block content %}
      <ol class="list list--lg">
        {% for i in 0..2 %}
          <li class="list__item">
            {% include 'partials/story-teaser.twig' %}
          </li>
        {% endfor %}
      </ol>
    {% endblock %}
  {% endembed %}

  <div class="grid-expand">
    {% include 'partials/program-panel.twig' %}
  </div>

{% endblock %}

{% block page_footer %}
  {% include 'partials/callout-group.twig' %}
{% endblock %}
