{% extends "layout.twig" %}

{% block page %}

<article class="page">

  {% embed 'partials/page-header.twig' with {
    title: 'Masters in Public Administration',
    breadcrumb: [
      {
        text: 'Academics',
        href: '#',
      },
      {
        text: 'Degree Programs',
        href: '#',
      }
    ],
    callout_title: 'Application for Spring 2017 Now Open',
    callout_link_url: '#',
    callout_link_text: 'Apply Now'
  } %}
    {% block controls %}
      {% include 'partials/page-nav-button.twig' %}
    {% endblock %}
  {% endembed %}

  <div class="container">
    <div class="row">
      <div class="col-md-push-1 col-md-3 flex-md-last">
        {% include 'partials/page-nav.twig' with {
          items: [
            { text: 'Curriculum', href: '#' },
            { text: 'Faculty', href: '#' },
            { text: 'Financing Your Education', href: '#' },
          ],
          callouts: [
            { text: 'Request Information', href: '#' },
            { text: 'Apply by July 10 for Fall 2017', href: '#' },
          ]
        } %}
      </div>
      <div class="col-md-push-1 col-md-7 flex-md-first">

        <section class="section">
          <p class="intro">The Middlebury Institute Master of Public Administration (MPA) is designed for those who want to make a difference in confronting critical social problems, including hunger, poverty, disease, joblessness, and powerlessness.</p>
          <p>Through hands-on experience, applied learning, practical tools, and community support, this program prepares graduates to be effective leaders and managers in international development for social change organizations, NGOs, nonprofits and government agencies around the world. The four-semester 60-credit program includes core coursework and optional areas of concentration, as well as courses taught in a student’s chosen language of study and a professional practicum.</p>

          <figure>
            <figcaption>
              <video src=""></video>
              <h3>Practical Skills for Positive Change</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi commodi, soluta quia aliquam sunt maxime beatae quisquam ex laboriosam, perspiciatis, voluptatem atque ut earum! Non modi, unde amet eaque.</p>
            </figcaption>
          </figure>
        </section>

      </div>
    </div>
  </div>


  <section class="section">
    <div class="container">
      <div class="row row--dividers">
        <div class="col-md-3">
          <header>
            <h1 class="h3">Our students are meeting global challenges</h1>
            <a href="#" class="button button--primary">Learn more</a>
          </header>
        </div>
        <div class="col-md-9">
          <div class="row row--dividers">
            {% for item in six_articles %}
              <div class="col-md-4">
                {% include 'partials/card.twig' with item %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row row--dividers">
        <div class="col-md-3">
          <header>
            <h1 class="h3">Our faculty are professionals, on campus and in the fields</h1>
            <a href="#" class="button button--primary">Meet Community Leaders</a>
          </header>
        </div>
        <div class="col-md-8">
          {% for item in three_articles %}
            {% include 'partials/card.twig' with item %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  {% include 'partials/program-panel.twig' %}

  {% include 'partials/callout-group.twig' %}

</article>

{% endblock %}
