{% extends "layout.twig" %}

{% set page_header = {
  title: 'Faculty in the Field',
  breadcrumb: [
    { text: 'Leadership and Impact', url: '' }
  ]
} %}

{% block page %}

  <div class="container">
    {% embed 'partials/page-hero.twig' %}
      {% block content %}
        <h3>lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo earum doloremque perferendis nam pariatur nulla neque consectetur inventore quis similique temporibus, dolores excepturi expedita veniam odio quos nesciunt possimus. Enim!</p>
      {% endblock %}
    {% endembed %}
  </div>

  <div class="container">
    {% include 'paragraphs/faculty-spotlight.twig' with {
      faculty_spotlight: faculty_spotlight
    } %}
  </div>

  <div class="container">
    {% include 'paragraphs/related-stories.twig' %}
  </div>

  <div class="container">
    {% include 'paragraphs/related-basic-content.twig' with {
      count: 3
    } %}
  </div>

  {% include 'partials/publications.twig' with {
    icons: icons
  } %}

  {% include 'partials/profile-explorer.twig' %}

{% endblock %}
