{% extends "layout.twig" %}

{% block page %}

<section class="page">

  {% embed 'partials/page-header.twig' with {
    title: 'Events',
    callout_link_text: 'Sign up for events email',
    callout_link_url: '#',
  } %}
    {% block controls %}
      <a href="#midd-filters-drawer" data-toggle-target=".js-filters-drawer" data-toggle-linked="filters-drawer" aria-label="Toggle filters">
        <span aria-hidden="true">{{icons.search_lg}}</span>
      </a>
    {% endblock %}
  {% endembed %}

  <div class="container">
    {#TODO: needs dividers#}
    <div class="row row--dividers-reverse">
      <div class="col-md-push-1 col-md-3 col--collapse flex-md-last">

        <div class="col">
          {% embed 'partials/section.twig' with {
            title: 'Featured Event',
            class: 'section--aside',
            labelledby: 'midd-featured-event'
          } %}
            {% block content %}
              {% include 'partials/event-card.twig' %}
            {% endblock %}
          {% endembed %}
        </div>

        {% embed 'partials/drawer.twig' with {
          id: 'midd-filters-drawer',
          class: 'js-filters-drawer',
          toggle_linked: 'filters-drawer',
          toggle_target: '.js-filters-drawer'
        } %}
          {% block content %}
              {% include 'partials/filters.twig' %}

              {% include 'partials/sidebar-search.twig' %}

              <a href="#" class="button button--tertiary button--xl button--block u-text-left u-clearfix">View Academic Calendar <span class="u-float-right" aria-hidden="true">&rsaquo;</span></a>
          {% endblock %}
        {% endembed %}

      </div>
      <div class="col-md-push-1 col-md-8 flex-md-first">

        <ol class="list list--dividers u-mb-6">
          {% for i in 0..7 %}
            <li class="list__item">
              {% include 'partials/event-teaser.twig' with {
                id: i,
                title: 'Building a Sustainable Career in Social Impact – Breaking into the Field',
                link: '#',
                time: '6:00 PM',
                date: 'Mon Jul 25, 2016',
                local: 'McCone Irvine Auditorium',
                blurb: '<p>Four guest speakers will bring to light realities of the true costs of war experienced by today\'s veteran and military community.</p>',
                metalist: [
                  { text: 'Closed to the Public' },
                  { text: 'Lorem ipsum dolor set' },
                ]
              } %}
            </li>
          {% endfor %}
        </ol>

        {% include 'partials/pagination.twig' %}

      </div>
    </div>
  </div>

</section>

{% endblock %}
