{% extends "layout-sidebar.twig" %}


{% set page_header = {
  title: 'Events',
  callout_link_text: 'Sign up for events email',
  callout_link_url: '#',
} %}

{% block layout_sidebar %}

  {% embed 'partials/section.twig' with {
    title: 'Featured Event',
    class: 'section--aside',
    labelledby: 'midd-featured-event'
  } %}
    {% block content %}
      {% include 'partials/event-card.twig' with {
        title: 'Middlebury Institute’s TESOL/TFL Program: Innovations in Language Learning',
        date: 'September 24, 2017',
        time: '4:15 PM',
        local: 'McCone Irvine Auditorium'
      } %}
    {% endblock %}
  {% endembed %}

  <div class="d-none d-md-block">
    <div class="form__group">
      <label for="midd-events-datepicker" class="form__label">Filter by date</label>
      <input type="text" class="form__control js-events-datepicker d-none" id="midd-events-datepicker" />
      <div class="pt-2">
        <a href="#" class="link-border font-sm">Show All Events</a>
      </div>
        <div class="pt-2">
          <a href="#" class="link-border font-sm">Show All Events</a>
    </div>

    {% include 'partials/sidebar-search.twig' %}

    <a href="#" class="button button--tertiary button--block text-left clearfix mb-1">
      <span class="float-left">View Academic Calendar</span>
      <span class="float-right" aria-hidden="true">&rsaquo;</span>
    </a>
    <a href="#" class="button button--tertiary button--block text-left clearfix mb-1">
      <span class="float-left">Commencement</span>
      <span class="float-right" aria-hidden="true">&rsaquo;</span>
    </a>
  </div>

{% endblock %}

{% block layout_content %}

  {# should only be present if date filter is active #}
  <div class="alert alert--info mb-5 clearfix">
    <span>Showing Events for March 2, 2018</span>
    {# if float right is on link, for some reason more space gets added between the link text and border #}
    <span class="float-right">
      <a href="#" class="link-border font-sm">Show All Events</a>
    </span>
  </div>

  <ol class="list list--dividers list--md mb-5">
    {% for i in 0..7 %}
      <li class="list__item">
        {% include 'partials/event-teaser.twig' with {
          id: i,
          title: 'Building a Sustainable Career in Social Impact – Breaking into the Field',
          link: '#',
          time: '6:00 PM',
          date: 'Mon Jul 25, 2016',
          local: 'McCone Irvine Auditorium',
          blurb: 'Four guest speakers will bring to light realities of the true costs of war experienced by today\'s veteran and military community.',
          metalist: [
            { text: 'Closed to the Public' },
            { text: 'Lorem ipsum dolor set' },
          ]
        } %}
      </li>
    {% endfor %}
  </ol>

  {% include 'partials/pagination.twig' %}

{% endblock %}
