{% extends "layout-sidebar.twig" %}

{% set page_header = {
  title: 'Latest Thinking',
  breadcrumb: [
    { text: 'Leadership and Impact' }
  ]
} %}

{% block layout_sidebar %}

  {% include 'partials/page-nav.twig' with {
    items: [
      { text: 'Cover Story', href: '#' },
      { text: 'The View From Segal', href: '#' },
      { text: 'Five Minutes', href: '#' },
      { text: 'What I\'ve Learned', href: '#' }
    ],
    secondary_label: 'Issues',
    secondary_items : [
      { text: 'Winter 2020', href: '#' },
      { text: 'Spring 2019', href: '#' },
      { text: 'Faculty sub page 4', href: '#' },
      { text: 'View All Issues', href: '#', cta: true },
    ],
  } %}


{% endblock %}

{% block layout_content %}

  {% include 'partials/story-teaser.twig' with {
    id: 'featured',
    featured: true
  } %}

  <ol class="list list--dividers list--lg mb-6">
    {% for i in 0..5 %}
      <li class="list__item">
        {% include 'partials/story-teaser.twig' with { id: i } %}
      </li>
    {% endfor %}
  </ol>

  {% include 'partials/pagination.twig' %}

{% endblock %}
