{% extends "layout.twig" %}

{% set page_header = {
  title: 'Undergraduate Interns Tackle Nonproliferation Issues',
  breadcrumb: [
    { text: 'News' }
  ]
} %}

{% block page %}
<article class="story-detail">

  <div class="container">
    <div class="row">
      <div class="col-md-push-1 col-md-7">

        <header class="mb-4">
          <p>by <a href="#" class="link-border">Michael Green</a></p>
          <p class="mb-3"><strong><time datetime="2016-08-24T00:00:00-04:00">August 24, 2017</time></strong></p>
          {% include 'partials/share.twig' %}
        </header>

      </div>
    </div>
    <div class="row">
      <div class="col-md-push-1 col-md-9">

        <div class="page__image">
          <figure class="media">
            {% include 'partials/img.twig' with { name: 'story_detail' } %}
            <figcaption class="media__caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ab accusantium tenetur quo</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-push-3 col-md-6">

        {% include 'paragraphs/text.twig' %}

        {% include 'paragraphs/slideshow.twig' %}

        {% include 'paragraphs/text.twig' %}

        {% include 'paragraphs/text.twig' %}

        {% include 'paragraphs/video.twig' %}

      </div>
    </div>
    <div class="row">
      <div class="col-md-push-1 col-md-9">
        {% include 'paragraphs/quote.twig' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-push-3 col-md-6">
        {% include 'paragraphs/text.twig' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-push-3 col-md-6">

        <div class="story-detail__tags">
          <div class="d-flex">
            <span class="mr-1">Tags:</span>
            <ul class="tags">
              {% for i in 0..3 %}
                <li class="tags__item">
                  <a href="#" class="tags__link">Some tag</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="story-detail__media-contact">
          <div class="callout-info">
            <h3 class="callout-info__title">For More Information</h3>
            <p class="callout-info__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio. Veritatis, esse. At ad a architecto eum voluptates in inventore placeat culpa nemo! Minus voluptates cupiditate quasi, laudantium in quam?</p>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-push-1 col-md-9">

        {% include 'paragraphs/related-stories.twig' %}

      </div>
    </div>
  </div>

</article>

{% endblock %}
