{% extends "layout.twig" %}

{% set page_header = {
  title: 'Areas of Focus'
} %}

{% block page %}

  <div class="mb-6 text-right">
    <figure>
      {% include 'partials/picture.twig' with { name: 'top_level' } %}
      <figcaption class="media__caption">some caption for the image</figcaption>
    </figure>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-push-1 col-md-9">
        <p class="lead mb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a nulla magni molestias? Natus itaque adipisci molestiae mollitia voluptatum fugit illum hic reiciendis, omnis fugiat sapiente vitae, quia nobis eaque!</p>
        {% include 'partials/grid-nav.twig' %}
      </div>
    </div>
  </div>

  {% include 'partials/mission-selector.twig' %}

  {% include 'partials/callout-group.twig' %}

{% endblock %}
