{% extends "layout.twig" %}

{% set page_header = {
  title: 'Areas of Focus'
} %}

{% block page %}
  <article class="">


    <figure class="page-top">
      <picture>
        <source srcset="//placehold.it/1440x570 1x, //placehold.it/2880x1140 2x" media="(min-width: 580px)">
        <source srcset="//placehold.it/720x285 1x, //placehold.it/2880x1140 2x">
        <img src="//placehold.it/2880x1140" alt="">
      </picture>
      <div class="container">
        <div class="row">
          <div class="col-md-push-1 col-md-7">
            <figcaption class="page-top__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a nulla magni molestias? Natus itaque adipisci molestiae mollitia voluptatum fugit illum hic reiciendis, omnis fugiat sapiente vitae, quia nobis eaque!</figcaption>
          </div>
        </div>
      </div>
    </figure>

    <div class="container">
      <div class="row">
        <div class="col-md-push-1 col-md-9">

          <nav class="grid-nav">
            <ul class="grid-nav__list">
              {% for i in 0..4 %}
                <li class="grid-nav__item">
                  <a href="#" class="grid-nav__title">Human Rights and Social Change</a>
                  <p class="grid-nav__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis nisi aperiam quaerat aut voluptates quibusdam eaque iusto dolorum impedit totam ullam reiciendis, veritatis, necessitatibus laudantium, neque pariatur accusamus harum.</p>
                </li>
              {% endfor %}
            </ul>
          </nav>

        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        {% include 'partials/mission-selector.twig' %}
      </div>
    </div>

    {% include 'partials/callout-group.twig' %}

  </article>
{% endblock %}
