{% extends "layout.twig" %}

{% set page_header = {
  title: 'Information for New Students',
  breadcrumb: [
    { text: 'Student Services', href: '#' }
  ]
} %}

{% block page %}

  {% embed 'partials/page-hero.twig' %}
    {% block content %}
      <h3>Course Selection required by September 13, 2017</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ratione exercitationem reiciendis sit quo recusandae, eos minus repellendus quisquam aut, ab expedita, ut possimus eius accusantium natus illum veniam.</p>
    {% endblock %}
  {% endembed %}

  <div class="container">
    {% include 'partials/callout-contacts.twig' %}
  </div>

  <div class="container">
    {% include 'paragraphs/related-stories.twig' %}
  </div>

  <div class="container">
    {% embed 'partials/section.twig' with {
      title: 'Quick Links and Resources'
    } %}
      {% block content %}
        {% for section in quicklinks %}
          {% include 'partials/callout-links.twig' with section %}
        {% endfor %}
      {% endblock %}
    {% endembed %}
  </div>

  <div class="container">
    {% include 'paragraphs/related-events.twig' %}
  </div>

  <div class="container">
    {% include 'paragraphs/related-basic-content.twig' %}
  </div>

  {#TODO: PSD has pagination/load more button but do we want that?#}

{% endblock %}
