{% extends "layout.twig" %}

{% set page_header = {
  title: 'Information for New Students',
  breadcrumb: [
    { text: 'Student Services', href: '#' }
  ]
} %}

{% block page %}

  {% include 'partials/page-image-full.twig' %}

  <div class="container">
    <div class="row">
      <div class="col-md-push-1 col-md-9">

        {% include 'partials/callout-contacts.twig' %}

        {% include 'paragraphs/related-stories.twig' %}

        {% for section in quicklinks %}
          {% include 'partials/callout-links.twig' with section %}
        {% endfor %}

        {% include 'paragraphs/related-events.twig' %}

        {% include 'paragraphs/related-basic-content.twig' %}

      </div>
    </div>
  </div>

  {#TODO: PSD has pagination/load more button but do we want that?#}

{% endblock %}
