{% extends "layout.twig" %}

{% block page %}
  <section class="page">

    {% include 'partials/page-header.twig' with {
      title: 'Contact The Institute',
      crumb: [
        { text: 'Middlebury Inistitute of International Studies' }
      ]
    } %}

    <section class="section">

      <picture>
        <img src="http://placehold.it/1440x570" alt="">
      </picture>

      <div class="container">
        <div class="row">
          <div class="col-md-push-1 col-md-7">

            <section class="section">
              <p class="lead my-6">We're excited to answer your questions about the Middlebury Institute and happy to speak with you via phone, Skype, or email.</p>

              {% include 'partials/social-links.twig' with {
                items: social_links|merge(contact_social_links)
              } %}
            </section>

            <section class="section">
              <h2>Send us a message</h2>

              <form action="" class="form">
                <div class="form__group">
                  <label for="subject" class="sr-only">How can we help you?</label>
                  <select id="subject" class="form__control" required>
                    <option value="" selected disabled>How can we help you?</option>
                  </select>
                </div>

                <div class="form__group">
                  <label for="name" class="form__label">Name</label>
                  <input type="text" class="form__control" id="name" required>
                </div>

                <div class="form__group form__group--has-error">
                  <label for="email" class="form__label">Email Address</label>
                  <input type="email" class="form__control" id="email" required>
                  <p class="form__error-message">Invalid email address</p>
                </div>

                <div class="form__group">
                  <label for="message" class="form__label">Message</label>
                  <textarea class="form__control" id="message" required></textarea>
                </div>

                <input type="submit" class="form__submit-button button button--primary" value="Send message">

              </form>
            </section>

            <section class="section">

              <div class="row">
                <div class="col-md-7">
                  <h2>Call or visit us in Monterey</h2>

                  <h3 class="h5">Direction</h3>
                  <p>The Institute is located in Central California in the city of Monterey. Our campus is approximately 210 kilometers/130 miles south of San Francisco and 560 kilometers/350 miles north of Los Angeles.</p>

                  <ul class="list">
                    <li class="list__item">
                      <span class="list__icon">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-map" />
                        </svg>
                      </span>
                      <a href="#" class="link-border">View in Google Maps</a>
                    </li>
                    <li class="list__item">
                      <span class="list__icon">
                        <svg class="icon" aria-hidden="true">
                          <use xlink:href="#icon-compass" />
                        </svg>
                      </span>
                      <a href="#" class="link-border">Get Directions</a>
                    </li>
                  </ul>

                  <h3 class="h5">Mailing Address</h3>
                  <p>Middlebury Institute of International Studies<br>
                  460 Pierce Street<br>
                  Monterey, CA 93940 USA</p>

                  <h3 class="h5">Tel</h3>
                  <p><a href="">831-647-4100</a></p>

                  <h3 class="h5">Fax</h3>
                  <p>831-647-4199</p>
                </div>
                <div class="col-md-5">

                  <picture>
                    <img src="http://placehold.it/300x300" srcset="http://placehold.it/300x300 1x, http://placehold.it/600x600 2x" alt="">
                  </picture>

                </div>
              </div>

            </section>

          </div>
        </div>
      </div>
    </section>

  </section>
{% endblock %}
