{% extends "layout.twig" %}

{% block page %}
  <section class="page" aria-labelledby="midd-page-header-label">

    {% include 'partials/page-header.twig' with {
      title: 'Page Not Found',
    } %}

    <section class="section" aria-labelledby="midd-hero-form-label">
      {% include 'partials/hero-form.twig' %}
    </section>

    {% include 'paragraphs/news-and-events.twig' %}

  </section>
{% endblock %}
