{% extends "layout-sidebar.twig" %}

{% set page_header = {
  title: 'Newsroom'
} %}

{% block layout_sidebar %}
  {% include 'partials/page-nav.twig' with {
    items: [
      { text: 'Category', href: '#' },
      { text: 'Category', href: '#' },
      { text: 'Category', href: '#' },
      { text: 'Category', href: '#' },
      { text: 'Category', href: '#' },
      { text: 'Category', href: '#' },
    ],
    callouts: [
      { text: 'Subscribe' },
      { text: 'Media Inquiries' },
      { text: 'Submit a Story' },
    ]
  } %}

{% endblock %}

{% block layout_content %}

  {% include 'partials/story-teaser.twig' with {
    id: 'featured',
    featured: true
  } %}
  <ol class="list list--dividers list--lg mb-5">
    {% for i in 1..5 %}
      <li class="list__item">
        {% include 'partials/story-teaser.twig' with { id: i } %}
      </li>
    {% endfor %}
  </ol>

  {% include 'partials/pagination.twig' %}

{% endblock %}

