<nav class="breadcrumb" aria-labelledby="midd-site-breadcrumb">
  <h2 id="midd-site-breadcrumb" class="sr-only">Breadcrumb</h2>
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a href="#" class="breadcrumb__link">Middlebury Institute of International Studies</a>
    </li>
  {% for item in items %}
      <li class="breadcrumb__item">
        <a href="{{item.href}}" class="breadcrumb__link">{{item.text}}</a>
      </li>
    {% endfor %}
  </ol>
</nav>
