<div class="callout-group-item">
  <div class="callout-group-item__header">
    <span class="callout-group-item__title">{{title}}</span>
  </div>
  <div class="callout-group-item__footer">
    <a href="{{buttonLink}}" class="callout-group-item__button">{{buttonText}}</a>
  </div>
</div>
