<div class="callout{% if light %} callout--light{% endif %}">
  <div class="callout__body">
    <h3 class="callout__title">{{title}}</h3>
    <p class="callout__text">{{text}}</p>
  </div>
  <div class="callout__footer">
    <a href="{{url}}" class="button button--{% if light %}secondary{% else %}primary{% endif %}">{{buttonText}}</a>
  </div>
</div>
