<section class="callout-links">
  <ul class="callout-links__list">
    {% for item in items %}
      <li class="callout-links__item">
        <a href="{{item.url}}" class="callout-links__link link-border">{{item.text}}</a>
      </li>
    {% endfor %}
  </ul>
</section>
