<div class="drawer{% if class %} {{class}}{% endif %}" id="{{id}}">
  <div class="drawer__content">
    {% block content %}
    {% endblock %}
  </div>
  <div class="drawer__overlay" data-toggle-target="{{toggle_target}}" data-toggle-linked="{{toggle_linked}}"></div>
</div>
