<div class="drawer" id="{{id}}">
  <div class="drawer__content">
    {% block content %}
    {% endblock %}
  </div>
  <div class="drawer__overlay" data-toggle-target="#{{id}}" data-toggle-linked="{{id}}"></div>
</div>
