<article class="event-teaser-lite">
  <p class="event-teaser-lite__datetime"><time datetime="">June 24, 2017 &middot; 11:45 AM</time></p>
  <p class="event-teaser-lite__local">{{location}}</p>
  <h3 class="event-teaser-lite__title"><a href="{{url|default('#')}}" title="{{title}} on June 24, 2017 &middot; 11:45 AM">{{title}}</a></h3>
</article>
