<article class="event-card">
  <figure class="event-card__media">
    <a href="#">
      <picture>
        <img src="//placehold.it/400x300" alt="">
      </picture>
    </a>
  </figure>
  <h3 class="event-card__title"><a href="#">Middlebury Institute’s TESOL/TFL Program: Innovations in Language Learning</a></h3>
  <p class="event-card__datetime">
    <time datetime="">Sat Jul 23, 2016, 4:15 PM</time>
  </p>
  <p class="event-card__local">McCone Irvine Auditorium</p>
</article>
