<article class="event-card">
  <div class="event-card__media">
    <a href="#">
      <figure class="media media-image view-mode-related">
        <picture>
          <img src="//placehold.it/400x300" alt="">
        </picture>
      </figure>
    </a>
  </div>
  <h3 class="event-card__title"><a href="#">Middlebury Institute’s TESOL/TFL Program: Innovations in Language Learning</a></h3>
  {#Not sure why, but this twig compilation is not letting me wrap the times with <time> while keeping no spaces around ndash#}
  <p class="event-card__datetime">September 24, 2017 &middot; 4:15&nbsp;PM</p>
  <p class="event-card__local">McCone Irvine Auditorium</p>
</article>
