<form action="">

  {% include 'partials/filter.twig' with {
    id: 'midd-view-filter',
    label: 'View All',
    items: [
      {
        id: 'midd-view-filter-all',
        value: 'view-all',
        label: 'View all',
        active: true
      },
      {
        id: 'midd-view-filter-public',
        value: 'public',
        label: 'Open to Public'
      },
      {
        id: 'midd-view-filter-private',
        value: 'private',
        label: 'Closed to Public'
      },
    ]
  } %}

  {% include 'partials/filter.twig' with {
    id: 'midd-upcoming-filter',
    label: 'Upcoming',
    items: [
      {
        value: 'view-all',
        label: 'All Events'
      }
    ]
  } %}

  {% include 'partials/filter.twig' with {
    id: 'midd-date-filter',
    label: 'All Dates',
    items: [
      {
        value: 'view-all',
        label: 'All Dates'
      }
    ]
  } %}

  {% include 'partials/filter.twig' with {
    id: 'midd-topic-filter',
    label: 'All Topics',
    items: [
      {
        value: 'view-all',
        label: 'All Topics'
      }
    ]
  } %}

</form>
