<nav class="grid-nav">
  <ul class="grid-nav__list">
    {% if count is not defined %}
      {% set count = 5 %}
    {% endif %}
    {% for i in 1..count %}
      <li class="grid-nav__item">
        <figure class="grid-nav__image">
          <a href="">
            {% include 'partials/picture.twig' with { name: 'grid_nav' } %}
          </a>
        </figure>
        <div class="grid-nav__body">
          <a href="#" class="grid-nav__title">Human Rights and Social Change</a>
          <p class="grid-nav__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis nisi aperiam quaerat aut voluptates quibusdam eaque iusto dolorum impedit totam ullam reiciendis.</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</nav>
