<header class="site-header" aria-labelledby="midd-site-header-label">
  <div class="site-header__primary">
    <div class="site-header__brand">
      <h1 class="site-header__title" id="midd-site-header-label">
        <a href="/" class="site-header__home-link">
          <span class="site-header__logo">{{site_title}}</span>
        </a>
      </h1>
    </div>

    {% if not pardot %}
      <div class="site-header__menu-button">
        <a href="#midd-site-nav" class="site-menu-button" data-toggle-target=".site-header">
          <span class="site-menu-button__text site-menu-button__text--open">Menu</span>
          <span class="site-menu-button__text site-menu-button__text--close">Close</span>
          <span class="site-menu-button__icon icon icon--hamburger"></span>
        </a>
      </div>

      {% if not is_front %}
        <div class="site-header__degrees">
          <div class="degree-popup">
            <a
              href="/institute/academics/degree-programs"
              class="degree-popup__button"
              data-degree-popup="midd-degree-popup"
            >
              Degrees
            </a>

            <div class="degree-popup__modal" id="midd-degree-popup" role="dialog" aria-hidden="true">
              <div class="degree-popup__content">
                <button class="degree-popup__close" data-degree-popup-close>
                  <span class="sr-only">Close</span>
                  {% include 'partials/icon.twig' with { name: 'close' } %}
                </button>
                {% include 'partials/degree-finder.twig' with { is_popup: true } %}
              </div>
              <div class="degree-popup__overlay" data-degree-popup-close tabindex="-1"></div>
            </div>
          </div>
        </div>
      {% endif %}

    {% endif %}

  </div>

  {% if not pardot %}

  <div class="site-header__secondary">
    <div class="site-header__search">
      {% include 'partials/site-search.twig' %}
    </div>

    <div class="site-header__nav" id="midd-site-nav">
      {% include 'partials/nav.twig' %}
    </div>
  </div>

  {% endif %}


</header>
