<header class="site-header" aria-labelledby="midd-site-header-label">
  <div class="site-header__primary">
    <div class="site-header__brand">
      <h1 class="site-header__title" id="midd-site-header-label">
        <a href="/" class="site-header__home-link">
          <span class="site-header__logo">{{site_title}}</span>
        </a>
      </h1>
    </div>

    <div class="site-header__menu-button">
      <a href="#midd-site-nav" class="site-menu-button" data-toggle-target=".site-header">
        <span class="site-menu-button__text site-menu-button__text--open">Menu</span>
        <span class="site-menu-button__text site-menu-button__text--close">Close</span>
        <span class="site-menu-button__icon icon icon--hamburger"></span>
      </a>
    </div>
  </div>

  <div class="site-header__secondary">
    <div class="site-header__search">
      <div class="site-search">
        <form>
          <div class="input-group">
            <div class="input-group__field">
              <label for="midd-site-search" class="site-search__label">Search the Institute</label>
              <input type="search" placeholder="Search the Institute" class="site-search__control form__control" id="midd-site-search" required />
            </div>
            <div class="input-group__button">
              <button type="submit" class="button site-search__button">
                <span class="sr-only">Search</span>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-search" />
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="site-header__nav" id="midd-site-nav">
      {% include 'partials/nav.twig' %}
    </div>
  </div>
</header>
