<header class="site-header">
  <div class="site-header__primary">
    <div class="site-header__brand">
      <h1 class="site-header__title">
        <a href="/" class="site-header__home-link">
          <span class="site-header__logo">{{site_title}}</span>
        </a>
      </h1>
    </div>

    <div class="site-header__menu-button">
      <a href="#site-nav" class="site-menu-button" data-toggle-target=".site-header">
        <span class="site-menu-button__text site-menu-button__text--open">Menu</span>
        <span class="site-menu-button__text site-menu-button__text--close">Close</span>
        <i class="site-menu-button__icon icon icon--hamburger"></i>
      </a>
    </div>
  </div>

  <div class="site-header__secondary">
    <div class="site-header__search">
      <div class="site-search">
        <form>
          <div class="input-group">
            <div class="input-group__field">
              <label for="site-search" class="site-search__label">Search the Institute</label>
              <input type="search" placeholder="Search the Institute" class="site-search__field" id="site-search">
            </div>
            <div class="input-group__button">
              <button type="submit" class="button site-search__button"><i class="icon icon--search">Search</i></button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="site-header__nav">
      {% include 'partials/nav.twig' %}
    </div>
  </div>
</header>
