<header class="site-header" aria-labelledby="midd-site-header-label">
  <div class="site-header__primary">
    <div class="site-header__brand">
      <h1 class="site-header__title" id="midd-site-header-label">
        <a href="/" class="site-header__home-link">
          <span class="site-header__logo">{{site_title}}</span>
        </a>
      </h1>
    </div>

    <div class="site-header__menu-button">
      <a href="#midd-site-nav" class="site-menu-button" data-toggle-target=".site-header">
        <span class="site-menu-button__text site-menu-button__text--open">Menu</span>
        <span class="site-menu-button__text site-menu-button__text--close">Close</span>
        <span class="site-menu-button__icon icon icon--hamburger"></span>
      </a>
    </div>
  </div>

  <div class="site-header__secondary">
    <div class="site-header__search">
      {% include 'partials/site-search.twig' %}
    </div>

    <div class="site-header__nav" id="midd-site-nav">
      {% include 'partials/nav.twig' %}
    </div>
  </div>
</header>
