<div class="hero-form">
  <div class="hero-form__media">
    <img src="images/404-1440x810.jpg" srcset="images/404-400x225.jpg 400w,images/404-640x360.jpg 640w,images/404-960x540.jpg 960w,images/404-1280x720.jpg 1280w,images/404-1440x810.jpg 1440w" sizes="(max-width: 1440px) 100vw, 1440px" alt="" />
  </div>
  <div class="hero-form__content">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-10 col-lg-6">
          <p class="hero-form__text">We’re sorry, we seem to have lost this page, but let’s see if we can find it by the site search below.</p>
          <form action="">
            <div class="input-group">
              <div class="input-group__field">
                <label for="midd-search" class="sr-only" id="midd-hero-form-label">Search</label>
                <input type="search" placeholder="Enter your keywords" class="form__control form__control--lg hero-form__control" id="midd-search" required>
              </div>
              <div class="input-group__button">
                <button type="submit" class="hero-form__button button button--lg" aria-label="Search">
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-search" />
                  </svg>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
