<div class="hero-form">
  <div class="hero-form__media">
    {% include 'partials/img.twig' with { name: 'notfound' } %}
  </div>
  <div class="hero-form__content">
    <div class="container">
      <div class="row">
        <div class="col-md-push-1 col-md-10 col-lg-6">
          <p class="hero-form__text">We’re sorry, we seem to have lost this page, but let’s see if we can find it by the site search below.</p>
          <form action="">
            <div class="input-group">
              <div class="input-group__field">
                <label for="midd-search" class="hero-form__label sr-only" id="midd-hero-form-label">Search</label>
                <input type="search" placeholder="Enter your keywords" class="hero-form__control form__control" id="midd-search" required>
              </div>
              <div class="input-group__button">
                <button type="submit" class="hero-form__button button" aria-label="Search">
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-search" />
                  </svg>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
