<article class="homepage-hero">
  <figure class="homepage-hero__media">
    {% include 'partials/picture.twig' with { name: 'homepage_hero' } %}
  </figure>
  <section class="homepage-hero__content">
    <div class="homepage-hero__body">
      <h1 class="homepage-hero__title">
        <a href="#" class="homepage-hero__link">Water Sanitation Research and Development, India</a>
      </h1>
      <p class="homepage-hero__text">Access to safe water and adequate sanitation services has proven to be one of the most efficient ways of improving human health.</p>
      <div class="homepage-hero__more-link">
        <a href="#" class="button button--secondary">Read More</a>
      </div>
    </div>
  </section>
</article>
