<svg class="icon {{class}} {% if size %}icon--{{size}}{% endif %}" focusable="false" aria-hidden="true">
  {% if title %}<title>{{title}}</title>{% endif %}
  <use xlink:href="#icon-{{name}}">
</svg>
