<div class="media-object">
  <div class="media-object__media">
    {% block media %}
    {% endblock %}
  </div>
  <div class="media-object__content">
    {% block content %}
    {% endblock %}
  </div>
</div>
