<div class="form-group">
  <h3 class="label">Browse database by title</h3>
  <ul class="d-flex flex-wrap">
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=a&t=39671"
        class="link-underline"
      >
        A
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=b&t=39671"
        class="link-underline"
      >
        B
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=c&t=39671"
        class="link-underline"
      >
        C
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=d&t=39671"
        class="link-underline"
      >
        D
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=e&t=39671"
        class="link-underline"
      >
        E
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=f&t=39671"
        class="link-underline"
      >
        F
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=g&t=39671"
        class="link-underline"
      >
        G
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=h&t=39671"
        class="link-underline"
      >
        H
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=i&t=39671"
        class="link-underline"
      >
        I
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=j&t=39671"
        class="link-underline"
      >
        J
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=k&t=39671"
        class="link-underline"
      >
        K
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=l&t=39671"
        class="link-underline"
      >
        L
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=m&t=39671"
        class="link-underline"
      >
        M
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=n&t=39671"
        class="link-underline"
      >
        N
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=o&t=39671"
        class="link-underline"
      >
        O
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=p&t=39671"
        class="link-underline"
      >
        P
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=q&t=39671"
        class="link-underline"
      >
        Q
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=r&t=39671"
        class="link-underline"
      >
        R
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=s&t=39671"
        class="link-underline"
      >
        S
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=t&t=39671"
        class="link-underline"
      >
        T
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=u&t=39671"
        class="link-underline"
      >
        U
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=v&t=39671"
        class="link-underline"
      >
        V
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=w&t=39671"
        class="link-underline"
      >
        W
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=x&t=39671"
        class="link-underline"
      >
        X
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=y&t=39671"
        class="link-underline"
      >
        Y
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a=z&t=39671"
        class="link-underline"
      >
        Z
      </a>
    </li>
    <li class="mr-3">
      <a
        href="https://middlebury.libguides.com/az.php?a="
        class="link-underline"
      >
      </a>
    </li>
  </ul>
</div>
<p class="mb-5 contains-links">
  <a href="https://middlebury.libguides.com/MIIS" class="link-underline"
    >Find databases by subject in our research guides</a
  >
</p>
