<form method="post" action="https://middlebury.libguides.com">
  <div class="form-group">
    <label for="lib-guides-guide-subject">Subject Guides</label>
    <div class="input-group">
      <select id="lib-guides-guide-subject" name="gourl" class="form-control">
        <option value="#">Select a subject guide...</option>
        <option value="https://middlebury.libguides.com/iem"
          >International Education Management</option
        >
        <option value="https://middlebury.libguides.com/iep"
          >International Environmental Policy</option
        >
        <option value="https://middlebury.libguides.com/ipd"
          >International Policy and Development</option
        >
        <option value="https://middlebury.libguides.com/ited"
          >International Trade and Economic Diplomacy</option
        >
        <option value="https://middlebury.libguides.com/npts"
          >Nonproliferation and Terrorism Studies</option
        >
        <option value="https://middlebury.libguides.com/tesol"
          >Teaching English to Speakers of Other Languages/Teaching Foreign
          Language</option
        >
        <option value="https://middlebury.libguides.com/tilm"
          >Translation, Interpretation and Localization Management</option
        >
        <option value="https://middlebury.libguides.com/writingandrhetoric"
          >Writing and Rhetoric</option
        >
      </select>
      <input
        value="Go"
        type="submit"
        class="button button--primary"
        data-select-url="#lib-guides-guide-subject"
      />
    </div>
  </div>
</form>
<form method="post" action="https://middlebury.libguides.com">
  <div class="form-group">
    <label for="lib-guides-guide-howto">How to find it, use it, cite it</label>
    <div class="input-group">
      <select id="lib-guides-guide-howto" name="gourl" class="form-control">
        <option value="#"
          >Select a "how to find it, use it, cite it" guide...</option
        >
        <option value="https://middlebury.libguides.com/bookreviews"
          >Book Reviews</option
        >
        <option value="https://middlebury.libguides.com/citation"
          >Citation &amp; Style</option
        >
        <option value="https://go.middlebury.edu/zoteromidd"
          >Zotero @ Middlebury</option
        >
      </select>
      <input
        value="Go"
        type="submit"
        class="button button--primary"
        data-select-url="#lib-guides-guide-howto"
      />
    </div>
  </div>
</form>
<form method="post" action="https://middlebury.libguides.com">
  <div class="form-group">
    <label for="lib-guides-guide-course">Course Guides</label>
    <div class="input-group">
      <select id="lib-guides-guide-course" name="gourl" class="form-control">
        <option value="#">Select a course guide...</option>
      </select>
      <input
        value="Go"
        type="submit"
        class="button button--primary"
        data-select-url="#lib-guides-guide-course"
      />
    </div>
  </div>
</form>
