<div class="mission-selector{% if overlap %} mission-selector--overlap{% endif %}">
  <div class="mission-selector__content">
    <h3 class="mission-selector__title">What&rsquo;s Your Mission?</h3>
    <a href="#mission-modal" data-toggle-modal="#mission-modal" class="mission-selector__select">I want to {{missions[0].text}}</a>
  </div>
  <div class="mission-selector__actions">
    <a href="{{missions[0].url}}" class="mission-selector__button button button--secondary">Show Me How</a>
  </div>
</div>
