<div class="section">
  <div class="container">
    <div class="mission-selector{% if overlap %} mission-selector--overlap{% endif %}">
      <form action="" class="mission-selector__form">
        <div class="mission-selector__form-group">
          <label class="mission-selector__label" for="midd-mission-selector">What&rsquo;s Your Mission?</label>
          <select name="mission" class="mission-selector__select js-mission-selector" id="midd-mission-selector">
            {% for mission in missions %}
              <option value="{{mission.text}}">I want to {{mission.text}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mission-selector__actions">
          <input type="submit" class="mission-selector__button button button--secondary" value="Show Me How">
        </div>
      </form>
    </div>
  </div>
</div>
