{% embed 'partials/modal.twig' with {
  id: 'mission-modal',
  className: 'mission-modal',
  missions: missions
} %}
  {% block header %}
    <h1 class="mission-modal__title">What&rsquo;s Your Mission?</h1>
    <span class="mission-modal__prefix">I want to</span>
  {% endblock %}
  {% block content %}

    <ul class="mission-modal__list">
      {% for mission in missions %}
        <li class="mission-modal__item">
          <a href="{{mission.url}}" class="mission-modal__link">{{mission.text}}</a>
        </li>
      {% endfor %}
    </ul>

  {% endblock %}
{% endembed %}
