<div class="page-hero">
  <div class="container">

    <div class="row">
      <div class="offset-md-1 col-md-11">

        <div class="row">
          <div class="page-hero__media">
            <figure>
              {% include 'partials/img.twig' with { name: 'page_hero' } %}
              <figcaption class="media__caption">Some caption for the page hero image</figcaption>
            </figure>
          </div>
          <div class="page-hero__content typography">
            {% block content %}{% endblock %}
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

