<div class="page-hero">
  <div class="page-hero__media">
    <picture>
      <source srcset="http://placehold.it/1440x1080" media="(min-width: 580px)">
      <source srcset="http://placehold.it/720x540">
      <img src="http://placehold.it/1440x1080" alt="">
    </picture>
  </div>
  <div class="page-hero__content">
    {% block content %}{% endblock %}
  </div>
</div>

