<aside class="page-callout">
  <div class="page-callout__content">
    <span class="page-callout__title">{{title}}</span>
  </div>
  <div class="page-callout__action">
    <a href="{{link_url}}" class="page-callout__button button button--primary">{{link_text}}</a>
  </div>
</aside>
