<header class="page-header">
  <div class="page-header__row">

    <div class="page-header__primary">
      <div class="page-header__breadcrumb">
        {% include 'partials/breadcrumb.twig' with { items: breadcrumb } %}
      </div>
      <div class="page-header__content">
        <h1 class="page-header__title">{{title}}</h1>
      </div>
      <div class="page-header__controls">
        <a href="#page-nav" role="button" aria-label="Toggle page navigation" aria-controls="page-nav" data-toggle-target="#page-nav">
          <span aria-hidden="true" class="u-is-toggled-show">&uarr;</span>
          <span aria-hidden="true" class="u-is-toggled-hide">&darr;</span>
        </a>
      </div>
    </div>

    {% if callout_title %}
      <div class="page-header__secondary">
        {% include 'partials/page-callout.twig' with {
          title: callout_title,
          link_url: callout_link_url,
          link_text: callout_link_text
        } %}
      </div>
    {% endif %}

  </div>
</header>
