<div class="pagehero">
  <figure class="pagehero__figure">
    <picture>
      <source srcset="http://placehold.it/2250x1714" media="(min-width: 1440px)">
      <source srcset="http://placehold.it/1160x884" media="(min-width: 580px)">
      <img src="http://placehold.it/1160x884" alt="">
    </picture>
  </figure>
  <div class="pagehero__content">
    <h1 class="pagehero__title">Water Sanitation Research & Development, India</h1>
    <p class="pagehero__blurb">Access to safe water and adequate sanitation services has proven to be one of the most efficient ways of improving human health.</p>
    <a href="#" class="pagehero__button button button--secondary">Read More</a>
  </div>
</div>
