<aside class="page-callout">
  {% if title %}
    <span class="page-callout__text">{{title}}</span>
  {% endif %}
  <a href="{{link_url}}" class="page-callout__button button button--primary">{{link_text}}</a>
</aside>
