<nav class="page-nav js-page-nav" id="midd-page-nav">
  <ul class="page-nav__list">
    {% for item in items %}

      <li class="page-nav__item{% if item.active %} page-nav__item--active{% endif %}">
        <a href="#" class="page-nav__link">{{item.text}}</a>

        {% if item.items %}

        <ul class="page-nav__list page-nav__list--sub">
          {% for subitem in item.items %}

            <li class="page-nav__item">
              <a href="{{subitem.href}}" class="page-nav__link">{{subitem.text}}</a>
            </li>

          {% endfor %}
        </ul>

        {% endif %}
      </li>

    {% endfor %}
  </ul>

  {% if callouts %}

    <ul class="page-nav__list page-nav__list--callouts">
      {% for item in callouts %}
        <li class="page-nav__item">
          <a href="#" class="page-nav__link">{{item.text}}</a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}
</nav>
