<a href="#page-nav" role="button" data-toggle-target="#page-nav" aria-label="Toggle page navigation">
  <span aria-hidden="true" class="u-is-toggled-hide">{{icons.chevron_down}}</span>
  <span aria-hidden="true" class="u-is-toggled-show">{{icons.chevron_up}}</span>
</a>
