<article class="profile-spotlight-item">
  <figure class="profile-spotlight-item__media">
    <a href="#">
      {% include 'partials/img.twig' with {
        name: 'profile_spotlight_item'
      } %}
    </a>
  </figure>
  <div class="profile-spotlight-item__content">
    <h3 class="profile-spotlight-item__name"><a href="#">{{name}}</a></h3>
    <p class="profile-spotlight-item__title">{{title}}</p>
    <p class="profile-spotlight-item__text">{{text}}</p>
  </div>
</article>
