<div class="profile-spotlight-item">
  <div class="profile-spotlight-item__content">
    <h3 class="profile-spotlight-item__name"><a href="#">Kathleen M. Bailey</a></h3>
    <p class="profile-spotlight-item__title"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit</em></p>
    <div class="profile-spotlight-item__blurb">
      {{blurb|default('<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea pariatur quae ad repudiandae unde illo dolores assumenda itaque blanditiis explicabo. Debitis, distinctio maxime. Nulla sint illum sed eos, cumque architecto.</p>')}}
    </div>
  </div>
  <div class="profile-spotlight-item__media">
    <picture>
      <source srcset="//placehold.it/279x359" media="(min-width: 1200px)">
      <source srcset="//placehold.it/215x295" media="(min-width: 960px)">
      <source srcset="//placehold.it/155x215" media="(min-width: 580px)">
      <source srcset="//placehold.it/86x119">
      <img src="//placehold.it/" alt="">
    </picture>
  </div>
</div>
