<div class="profile-teaser">
  <div class="profile-teaser__media">
    <a href="#">
      {% include 'partials/img.twig' with {
        name: 'profile_teaser'
      } %}
    </a>
  </div>
  <div class="profile-teaser__content">
    <h3 class="profile-teaser__name"><a href="#">Beryl Levinger</a></h3>
    <p class="profile-teaser__title">Program Chair, Master of Public Administration and International Policy and Development</p>
    <p class="profile-teaser__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quis, repellat iusto cum non molestiae voluptatem adipisci accusamus rerum vero harum consectetur esse obcaecati nesciunt excepturi nihil magnam, assumenda sit?</p>
    <p class="profile-teaser__info">
      <strong>Email:</strong> <a href="mailto:blevinger@middlebury.edu" class="link-border">blevinger@middlebury.edu</a><br>
      <strong>Tel:</strong> 617-324-7535<br>
      <strong>Office:</strong> McCone Building M212<br>
      <strong>Office Hours:</strong> Tuesdays 3-4pm, Thursdays 11am-12pm
    </p>
    {% include 'partials/social-links.twig' with {
      items: social_links
    } %}
  </div>
</div>
