<div class="profile">
  <div class="profile__media">
    <a href="#">
      <picture>
        <source srcset="//placehold.it/148x206" media="(min-width: 580px)">
        <source srcset="//placehold.it/86x120">
        <img src="//placehold.it/148x206" alt="">
      </picture>
    </a>
  </div>
  <div class="profile__content">
    <h3 class="profile__name"><a href="#">Beryl Levinger</a></h3>
    <p class="profile__title"><em>Program Chair, Master of Public Administration and International Policy and Development</em></p>
    <p class="profile__meta">
      <a href="mailto:blevinger@middlebury.edu" class="u-link-border">blevinger@middlebury.edu</a><br>
      McCone Building M212
    </p>
    {% include 'partials/social-links.twig' with {
      items: social_links
    } %}
  </div>
</div>
