<div class="profile-explorer">
  <div class="profile-explorer__controls">
    <div class="container">
      <div class="row">
        <div class="col-md-push-1 col-md-7">
          <form action="">
            <div class="profile-explorer__form-group">
              <label for="" class="form__label profile-explorer__label">Explore Faculty by</label>
              <select name="" id="" class="form__control profile-explorer__control">
                <option value="" selected>Department</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-explorer__results">
    <div class="container">
      <div class="row">
        <div class="col-md-push-1 col-md-11">
          <ol class="list list--lg">
            {% for i in 0..3 %}
              <li class="list__item">
                {% include 'partials/profile-teaser.twig' %}
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
