<article class="profile-spotlight-item">
  <figure class="profile-spotlight-item__media">
    <a href="#">
      <picture>
        <source srcset="//placehold.it/280x360" media="(min-width: 1200px)">
        <source srcset="//placehold.it/220x300" media="(min-width: 960px)">
        <source srcset="//placehold.it/160x220" media="(min-width: 580px)">
        <source srcset="//placehold.it/86x119">
        <img src="//placehold.it/280x360" alt="">
      </picture>
    </a>
  </figure>
  <div class="profile-spotlight-item__content">
    <h3 class="profile-spotlight-item__name"><a href="#">{{name}}</a></h3>
    <p class="profile-spotlight-item__title">{{title}}</p>
    <p class="profile-spotlight-item__text">{{text}}</p>
  </div>
</article>
