<div class="program-spotlight">
  <div class="row row--no-gutters">
    <div class="col-sm-4 col-lg-3">

      <div class="program-spotlight__header">
        {% embed 'partials/callout.twig' with {
          light: true,
          title: 'Program Spotlight',
        } %}
          {% block body %}
            <a href="" class="button button--secondary">Explore our Programs</a>
          {% endblock %}
          {% block footer %}
            <div class="program-spotlight__controls" aria-label="carousel controls" role="navigation">
              <button class="button button--secondary button--circle js-program-spotlight-prev-button" aria-label="Previous">
                <span aria-hidden="true">&lsaquo;</span>
              </button>
              <button class="button button--secondary button--circle js-program-spotlight-next-button" aria-label="Next">
                <span aria-hidden="true">&rsaquo;</span>
              </button>
            </div>
          {% endblock %}
        {% endembed %}
      </div>

    </div>
    <div class="col-sm-8 col-lg-9">
      <div class="program-spotlight__container swiper-container js-program-spotlight">
        <div class="program-spotlight__content swiper-wrapper">

          {% for program in programs %}
            <div class="program-spotlight__item swiper-slide">
              {% set item = program|merge({ id: loop.index }) %}
              {% include 'partials/program-spotlight-item.twig' with item %}
            </div>
          {% endfor %}

        </div>
      </div>

    </div>
  </div>
</div>
