<form action="" class="form search-form">
  <div class="form__group">
    <div class="input-group">
      <div class="input-group__field">
        <label for="#search" class="sr-only">Search</label>
        <input type="search" placeholder="Enter your keywords" class="form__control search-form__control" required>
      </div>
      <div class="input-group__button">
        <button type="submit" class="button search-form__button">
          <svg class="icon icon--sm">
            <use xlink:href="#icon-search" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</form>
