<section class="section{% if class %} {{class}}{% endif %}">
  <header class="section__header">
    <h2 class="section__title">{{title}}</h2>
    <div class="section__nav">
      <a href="{{moreLinkHref}}" class="section__nav-link">{{moreLinkText}}</a>
    </div>
  </header>
  {% block content %}{% endblock %}
</section>
