<section class="section">
  <header class="section__header">
    <h1 class="section__title">{{title}}</h1>
    <nav class="section__nav">
      <a href="{{moreLinkHref}}">{{moreLinkText}}</a>
    </nav>
  </header>
</section>
