<article class="story-aside" aria-labelledby="midd-story-aside-header">
  <h3 class="story-aside__title" id="midd-story-aside-header">
    <a href="" class="story-aside__link">Alumna Receives Global Award for Contribution to Field of Legal English</a>
  </h3>
  <p class="story-aside__author">by <a href="#" class="story-aside__author-link">Author Name</a></p>
  <p class="story-aside__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur perferendis modi sed delectus omnis ad dolorem inventore aliquid sint, vero molestias? Sequi ut reiciendis repellendus repellat alias non sed officia!</p>
</article>
