* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-size: $base-font-size;
  color: $black;
  background-color: $warm-gray;
}

textarea {
  resize: vertical;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;

  p:last-child {
    margin-bottom: 0;
  }
}

dl,
dt,
dd {
  margin: 0;
}

a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: $font-weight-semibold;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  color: $text-gray;
  font-family: $font-family-serif;
  font-size: 16px;
  line-height: 28px;
  // font-weight: $font-weight-book;
  margin-top: 0;
  margin-bottom: 20px;

  @include media(xl) {
    // font-size: rem(18);
    // line-height: rem(30);
  }
}

p.intro {
  font-size: 20px;
  line-height: 28px;
  color: $black;

  @include media(md) {
    font-size: 22px;
    line-height: 32px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $font-family-serif;
}

h1,
.h1 {
  font-size: 20px;
  line-height: 24px;

  @include media(md) {
    font-size: 30px;
    line-height: 38px;
  }
}

h2,
.h2 {
  font-size: 22px;
  font-weight: $font-weight-semibold;
  line-height: 26px;

  @include media(md) {
    font-size: 26px;
    line-height: 30px;
  }
}

h3,
.h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;

  @include media(md) {
    font-size: 26px;
    line-height: 30px;
  }
}

h4,
.h4 {
  font-size: 16px;
  font-weight: $font-weight-semibold;
  line-height: 20px;
  margin-bottom: 5px;

  @include media(md) {
    font-size: 18px;
    line-height: 22px;
  }
}

h5,
.h5 {
  font-size: 14px;
  font-weight: $font-weight-semibold;
  line-height: 18px;
  margin-bottom: 5px;

  @include media(md) {
    font-size: 16px;
    line-height: 20px;
  }
}
