*,
:before,
:after {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-size: $base-font-size;
  color: $black;
  background-color: $warm-gray;
  -webkit-font-smoothing: antialiased;
}

textarea {
  resize: vertical;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;

  p:last-child {
    margin-bottom: 0;
  }
}

dl,
dt,
dd {
  margin: 0;
}

a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: $font-weight-semibold;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

%p {
  color: $text-gray;
  font-family: $font-family-serif;
  // font-size: 16px;
  // line-height: 28px;
  // font-weight: $font-weight-normal;
  margin: 0;
  // margin-bottom: 20px;
}

p {
  @extend %p;
}

address {
  @extend %p;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
}

svg {
  fill: currentColor;
}
