*,
:before,
:after {
  box-sizing: border-box;
}

body {
  color: $black;
  background-color: $warm-gray;
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
}

textarea {
  resize: vertical;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;

  p:last-child {
    margin-bottom: 0;
  }
}

dl,
dt,
dd {
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    text-decoration: $link-hover-decoration;
  }
}

strong {
  font-weight: $font-weight-semibold;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  font-family: $font-family-base;
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

address {
  font-family: $font-family-base;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
}

svg {
  fill: currentColor;
}
