.typography {
  :first-child {
    margin-top: 0;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  a {
    text-decoration: underline;
  }

  ul,
  ol {
    margin-bottom: 20px;
    list-style-type: disc;
    padding-left: 20px;
  }

  li {
    font-family: $font-family-serif;
    color: $gray;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }

  dl {
    margin-bottom: 50px;

    @include media(md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  dt {
    font-weight: $font-weight-semibold;
    padding-top: 20px;

    @include media(md) {
      padding-bottom: 20px;
      flex: 0 0 50%;

      &:not(:last-of-type) {
        border-bottom: 1px solid $line-gray;
      }
    }
  }

  dd {
    color: $gray;
    font-family: $font-family-serif;
    padding-top: 10px;
    padding-bottom: 20px;

    &:not(:last-of-type) {
      border-bottom: 1px solid $line-gray;
    }

    @include media(md) {
      flex: 0 0 50%;
      padding-top: 20px;
    }
  }

  h1 {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h5 {
    font-size: 14px;
    font-weight: $font-weight-bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h6 {
    font-size: 12px;
    font-weight: $font-weight-bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
