.lead {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 2rem;
  color: $black;

  @include media(md) {
    font-size: 22px;
    line-height: 32px;
  }
}

.typography {
  :first-child {
    margin-top: 0;
  }

  p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 24px;

    @include media(md) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  ul,
  ol {
    margin-bottom: 34px;
    padding-left: 20px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    font-family: $font-family-serif;
    color: $gray;

    &:not(:last-of-type) {
      margin-bottom: 18px;
    }
  }

  dl {
    margin-bottom: 50px;

    @include media(md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  dt {
    font-weight: $font-weight-semibold;
    padding-top: 20px;

    @include media(md) {
      padding-bottom: 20px;
      flex: 0 0 50%;

      &:not(:last-of-type) {
        border-bottom: 1px solid $line-gray;
      }
    }
  }

  dd {
    color: $gray;
    font-family: $font-family-serif;
    padding-top: 10px;
    padding-bottom: 20px;

    &:not(:last-of-type) {
      border-bottom: 1px solid $line-gray;
    }

    @include media(md) {
      flex: 0 0 50%;
      padding-top: 20px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-semibold;
  }

  h1 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 50px;
    margin-bottom: 20px;

    @include media(md) {
      font-size: 30px;
      line-height: 38px;
    }
  }

  h2 {
    font-size: 22px;
    line-height: 26px;
    margin-top: 50px;
    margin-bottom: 20px;

    @include media(md) {
      font-size: 26px;
      line-height: 30px;
    }
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 20px;

    @include media(md) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: $font-weight-medium;
    line-height: 22px;
    margin-top: 34px;
    margin-bottom: 24px;

    @include media(md) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  h5 {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  h6 {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
