.breadcrumb {
  margin-bottom: 5px;
}

.breadcrumb__list {
  display: flex;
}

.breadcrumb__item {
  &:not(:last-of-type) {
    display: none;
    margin-right: 5px;

    &:after {
      content: '/';
    }

    @include media(sm) {
      display: block;
    }
  }
}

.breadcrumb__link {}
