.callout {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  @include media(md) {
    text-align: left;
  }
}

.callout--light {

}

.callout__header {
  flex: 0 1 auto;
  padding-bottom: 20px;
}

.callout__body {
  flex: 1;
}

.callout__footer {
  flex: 0 1 auto;
  padding-top: 20px;
  padding-bottom: 40px;

  @include media(lg) {
    padding: 0;
  }
}

.callout__preheader {
  display: block;
  font-family: $font-family-serif;
  font-size: 20px;
  font-weight: 300;

  .callout--light & {
    color: $white;
  }
}

.callout__title {
  font-size: 40px;
  font-weight: $font-weight-book;
  line-height: 1.3;
  margin-bottom: 0;

  .callout--light & {
    color: $white;
  }
}

.callout__subtext {
  margin-bottom: 0;
}

.callout__button {

}
