.container {
  max-width: $grid-container-width;
  width: 100%;

  @include make-container();
}

.row {
  @include make-row();
}

.row--no-gutters {
  margin-left: 0;
  margin-right: 0;

  > [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.row--dividers {

  > [class^="col-"]:not(:last-of-type) {
    border-bottom: 1px solid $line-gray;
    margin-bottom: 20px;
    margin-top: 20px;

    @include media(md) {
      border-bottom: 0;
      margin-bottom: 0;
      margin-top: 0;
      border-right: 1px solid $line-gray;
    }
  }
}

.row--dividers-light {
  > [class^="col-"]:not(:last-of-type) {
    border-color: $brand-secondary-dark;
  }
}

[class^="col-"] {
  @include make-col-ready();
}

.flex-first {
  order: -1;
}

.flex-last {
  order: 1;
}

@mixin order($size) {
  .flex-#{$size}-first {
    order: -1;
  }
  .flex-#{$size}-last {
    order: 1;
  }
}

@mixin grid($size, $columns: 12) {
  @for $index from 1 through $columns {
    .col-#{$size}-#{$index} {
      @include make-col($index);
    }
  }
}

@mixin push($size, $columns: 12) {
  @for $index from 1 through $columns {
    .col-#{$size}-push-#{$index} {
      @include make-col-push($index);
    }
  }
}

@mixin pull($size, $columns: 12) {
  @for $index from 1 through $columns {
    .col-#{$size}-pull-#{$index} {
      @include make-col-pull($index);
    }
  }
}

@each $breakpoint-name, $breakpoint-size in $grid-breakpoints {
  @include media($breakpoint-name) {

    @include grid($breakpoint-name, $grid-columns);
    @include push($breakpoint-name, $grid-columns);
    @include pull($breakpoint-name, $grid-columns);
    @include order($breakpoint-name);
    @include auto($breakpoint-name);

  }
}
