.page-nav {
  margin-bottom: 60px;
  display: none;

  @include media(md) {
    display: block;
    margin-bottom: 20px;
  }

  &.is-toggled {
    display: block;
  }
}

.page-nav__list {
  @include media(md) {
    margin-bottom: 20px;
  }
}

.page-nav__list--callouts {}

.page-nav__item {
  border-bottom: 1px solid $line-gray;

  @include media(md) {
    &:not(:last-of-type) {
      border-bottom: 1px solid $line-gray;
    }

    .page-nav__list--callouts & {
      border: 0;
    }
  }
}

.page-nav__link {
  display: block;
  padding: 20px;

  @include media(md) {
    padding-left: 0;
    padding-right: 0;
  }

  .page-nav__list--callouts & {
    font-weight: bold;
  }
}
