.page-callout {
  background-color: $bright-green;
  display: flex;

  @include media(md) {
    background-color: transparent;
  }
}

.page-callout__content {
  flex: 1;
  border-right: 1px solid #0bab92;
  align-items: center;
  display: flex;
  @include make-gutters();

  @include media(md) {
    border-right: 0;
    padding-left: 0;
  }
}

.page-callout__action {
}

.page-callout__button {
  // flex: 0 1 auto;
}

