.site-header {
  background-color: $brand-primary;

  @include media(md) {
    width: $header-width;
    height: 675px;
    position: absolute;
    z-index: 3;
  }
}

.site-header__primary {
  display: flex;
  align-content: center;
  padding: 20px 30px;

  @include media(md) {
    padding: 30px;
    padding-bottom: 70px;
  }
}

.site-header__brand {
  flex: 1;
  align-items: center;
}

.site-header__home-link {

}

.site-header__menu-button {
  flex: 0 1 auto;
  align-self: center;

  @include media(md) {
    display: none;
  }
}

.site-header__secondary {
  &.has-toggler {
    display: none;

    @include media(md) {
      display: flex;
      flex-direction: column;
    }

    &.is-toggled {
      display: block;
    }
  }
}

.site-header__search {
  @include media(md) {
    order: 2;
  }
}

.site-header__nav {
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 100vh;

  @include media(md) {
    order: 1;
    height: 100%;
    overflow: visible;
    position: static;
  }
}
