.site-nav {

}

.site-nav__list {

}

.site-nav__item {
  &:not(:last-child) {
    border-bottom: 1px solid $brand-secondary-dark;
  }
}

.site-nav__link {
  display: block;
  font-size: 15px;
  color: $white;
  position: relative;
  padding: 20px;

  &:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid $brand-secondary;
    border-top-width: 0;
    border-left-width: 0;
    transform: rotate(-45deg);
    float: right;
  }
}

.site-nav__link--active {

}

// subnav

.site-subnav {
  // display: none;
}

.site-subnav__item {
  border-top: 1px solid $brand-secondary-dark;
}

.site-subnav__link {
  color: $white;
  display: block;
  padding: 20px;
  padding-left: 40px;
  font-size: 15px;
}

.site-subnav__button {
  display: none;
}
