.site-nav {

}

.site-nav--sub {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $middlebury-blue;
  height: 100vh;
  transform: translateX(100%);
  transition: transform .2s;

  &.is-active {
    transform: translateX(0);
    display: block;
    z-index: 5;
  }
}

.site-nav__list {

}

.site-nav__item {
  &:not(:first-child) {
    border-top: 1px solid $brand-secondary-dark;
  }

  .site-nav--sub & {
    border-top: 1px solid $brand-secondary-dark;
  }
}

.site-nav__link {
  display: block;
  font-size: 15px;
  color: $white;
  position: relative;
  padding: 20px 30px;

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    border: 2px solid $brand-secondary;
    border-top-width: 0;
    border-left-width: 0;
    transform: rotate(-45deg) translateY(-50%);
  }

  .site-nav--sub & {
    padding-left: 70px;
  }
}

.site-nav__link--back {
  color: $bright-green;
  position: relative;

  &:after {
    left: 35px;
    border-color: $bright-green;
    border-width: 2px 0 0 2px;
  }
}

.site-nav__link--accent {
  color: $brand-secondary;
}

.site-nav__link--active {

}

.site-nav__button {
  display: none;
}
