.site-search {
  background-color: $brand-primary-dark;
}

.site-search__label {
  @include sr-only();
}

.site-search__field {
  font-family: $font-family-sans-serif;
  appearance: none;
  background-color: transparent;
  border: 0;
  color: $white;
  padding: 20px 30px;
  font-size: 15px; // We should use 16 since it does not cause a zoom effect when zoomed
  width: 100%;

  &::placeholder  {
    color: $white;
  }
}

.site-search__button {
  background-color: transparent;
  color: $white;
  padding: 20px 30px;
}


  }
}
