.site-footer {
  color: $white;
  background-color: $brand-primary;
  padding-top: 50px;
}

.site-footer__content {
  border-bottom: 1px solid $brand-primary-dark;
}

.secondary-footer {
  background-color: $brand-primary-dark;
  padding-top: 30px;
}

.secondary-footer__list {
}

.secondary-footer__item {

}

.secondary-footer__link {
  color: $white;
}
