.site-header {
  background-color: $brand-primary;
}

.site-header__primary {
  display: flex;
  padding: 20px 30px;
  align-content: center;
}

.site-header__brand {
  flex: 1;
  align-items: center;
}

.site-header__home-link {

}

.site-header__menu-button {
  flex: 0 1 auto;
  align-self: center;
}

.site-header__nav {
  &.has-toggler {
    display: none;
    &.is-toggled {
      display: block;
    }
  }
}
