.site-nav {
  // height: 100%;
  // min-width: 100%;
  // white-space: nowrap;
}

.site-nav--top {
}

.site-nav--sub {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $middlebury-blue;
  height: 100%;

  @include media(md) {
    padding-bottom: 90px;
    left: 100%;
    width: calc((100vw - #{$header-width}) * .33);
    max-width: calc((#{$grid-container-width} - #{$header-width}) * .33);
  }

  &.is-active {
    // transform: translateX(0);
    display: block;
    z-index: 5;
  }

  &:first-of-type {
    @include media(md) {
      padding-top: 214px; // TODO: find a solution w/o a magic number
    }
  }

  & & {
    @include media(md) {
      padding-top: 70px;
      width: calc((100vw - #{$header-width}) * .67);
      max-width: calc((#{$grid-container-width} - #{$header-width}) * .67);
    }
  }
}

.site-nav__content {
  // width: 100%;

  @include media(md) {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 70px;

    .site-nav--sub & {
      border-left: 1px solid $brand-secondary-dark;
      padding-left: 12%;
    }
  }
}

.site-nav__body {
  flex: 1;

  @include media(md) {
    display: flex;
  }
}

.site-nav__footer {
  flex: 0 1 auto;
}


.site-nav__col {
  @include media(md) {
    flex: 1;
  }
}

.site-nav__items-heading {
  text-transform: uppercase;
  color: $light-blue;
  font-weight: $font-weight-bold;
  font-size: 12px;
  display: none;

  @include media(md) {
    display: block;
  }
}

.site-nav__list {
  width: 100%;
}

.site-nav__item {
  @include media(md) {
    padding-right: 12%;
  }

  &:hover {
    @include media(md) {
      & > .site-nav {
        display: block;
      }
    }
  }

  &:not(:first-child) {
    border-top: 1px solid $brand-secondary-dark;

    @include media(md) {
      border-top: 0;
    }
  }

  .site-nav--sub & {
    border-top: 1px solid $brand-secondary-dark;

    @include media(md) {
      border-top: 0;
    }
  }
}

.site-nav__link {
  display: block;
  font-size: 15px;
  color: $white;
  position: relative;
  padding: 20px 30px;

  &:hover {
    color: $bright-green;
    text-decoration: none;
  }

  @include media(md) {
    padding: 5px 0;
    font-size: 14px;
  }

  .site-nav__item:hover > & {
    color: $bright-green;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    border: 2px solid $brand-secondary;
    border-top-width: 0;
    border-left-width: 0;
    transform: rotate(-45deg) translateY(-50%);

    @include media(md) {
      display: none;
      right: 0;
      height: 5px;
      width: 5px;
      // border-width: 1px;
      border-color: $bright-green;

      .site-nav__item:hover > & {
        display: block;
      }
    }
  }

  .site-nav--sub & {
    padding-left: 70px;

    @include media(md) {
      padding-left: 0;
    }
  }
}

.site-nav__link--back {
  color: $bright-green;
  position: relative;

  &:after {
    left: 35px;
    border-color: $bright-green;
    border-width: 2px 0 0 2px;
  }

  @include media(md) {
    display: none;
  }
}

.site-nav__link--accent {
  color: $brand-secondary;
}

.site-nav__link--active {

}

.site-nav__button {
  display: none;

  @include media(md) {
    display: block;
  }
}
