.site-menu-button {
  color: $white;
  font-size: 14px;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.site-menu-button__text {
  display: none;
  margin-right: 20px;

  @include media(sm) {
    display: inline-block;
  }
}

.site-menu-button__text--open {
  .site-menu-button.is-toggled & {
    display: none;
  }
}

.site-menu-button__text--close {
  display: none;
  .site-menu-button.is-toggled & {
    @include media(sm) {
      display: inline-block;
    }
  }
}

.site-menu-button__icon {
  // TODO: need to toggle icon--close class on the icon with js instead.
  // These styles should be in _icon.scss
  .site-menu-button.is-toggled & {
    background-color: transparent;

    &:before {
      bottom: 0;
      transform: rotate(45deg);
    }

    &:after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
