.site-header {
  background-color: $brand-primary;

  @include media(md) {
    height: 675px;
    position: absolute;
    z-index: 3;

    &.is-toggled,
    .home & {
      width: $header-width;
    }
  }
}

.site-header__primary {
  display: flex;
  align-content: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 70px;

  @include media(md) {
    display: block;
    height: auto;
    padding: 30px;
    padding-bottom: 70px;
  }
}

.site-header__brand {
  flex: 1;
  align-self: center;

  @include media(md) {
    margin-bottom: 20px;
  }
}

.site-header__title {
  text-indent: -9999px;
  margin: 0;
}

.site-header__home-link {

}

// TODO: change to svg
.site-header__logo {
  display: block;
  background-image: url('/img/miis-logo-left.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 213px;
  height: 40px;

  @include media(md) {
    background-image: url('/img/miis-logo-shield.png');
    width: 53px;
    height: 59px;

    .home &,
    .site-header.is-toggled & {
      background-image: url('/img/miis-logo.png');
      width: 244px;
      height: 107px;
    }
  }
}

.site-header__menu-button {
  flex: 0 1 auto;
  align-self: center;

  @include media(md) {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .home & {
      display: none;
    }
  }
}

.site-header__secondary {
  .site-header.has-toggler & {
    display: none;
  }

  .site-header.is-toggled & {
    display: flex;
    flex-direction: column;
  }

  .home.home & {
    @include media(md) {
      display: flex;
      flex-direction: column;
    }
  }
}

.site-header__search {
  @include media(md) {
    order: 2;
  }
}

.site-header__nav {
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 100vh;

  @include media(md) {
    order: 1;
    height: 100%;
    overflow: visible;
    position: static;
  }
}
