$screen-sm: em(580);
$screen-md: em(960);
$screen-lg: em(1200);
$screen-xl: em(1440);

$breakpoints: (
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
);

$brand-primary: #0d395f;
$brand-secondary: #0d395f;

$white: #fff;
$black: #202020;
$gray: #767676;
$gray-light: #dedede;

$font-family-sans-serif: sans-serif;
$font-family-serif: serif;

$base-font-size: 16px;
$base-line-height: 1.5;
