$screen-sm: em(580);
$screen-md: em(960);
$screen-lg: em(1200);
$screen-xl: em(1440);

$breakpoints: (
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
);

// TODO: rename and use color names e.g. brand-green, brand-blue?
$brand-primary: #0d395f;
$brand-primary-dark: #022543;
$brand-secondary: #97bbd5;
$brand-secondary-dark: #174872;
$brand-tertiary: #0ac3a6;

$white: #fff;
$black: #202020;
$gray: #767676;
$gray-light: #dedede;

$font-family-sans-serif: 'whitney ssm a', 'whitney ssm b', verdana, sans-serif;
$font-family-serif: 'sentinel ssm a', 'sentinel ssm b', georgia, serif;

$base-font-size: 16px;
$base-line-height: 1.5;
