// core
@import 'functions';
@import 'variables';
@import 'mixins';

// vendor
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../node_modules/bootstrap/scss/mixins/grid';
@import '../../node_modules/bootstrap/scss/mixins/screen-reader';
@import '../../node_modules/bootstrap/scss/mixins/clearfix';

// base
@import 'global';

// components
@import 'breadcrumb';
@import 'button';
@import 'callout-group';
@import 'callout';
@import 'card';
@import 'carousel';
@import 'event-teaser';
@import 'footer-menu';
@import 'homepage-hero';
@import 'icon';
@import 'input-group';
@import 'mission-modal';
@import 'mission-selector';
@import 'modal';
@import 'page-callout';
@import 'page-header';
@import 'page-hero';
@import 'page-nav';
@import 'pagination';
@import 'panel';
@import 'program-panel';
@import 'program-spotlight';
@import 'projects';
@import 'section';
@import 'site-menu-button';
@import 'site-search';
@import 'social-links';
@import 'spotlight-item';
@import 'video';

// layout
@import 'grid';
@import 'site-header';
@import 'footer';
@import 'site-nav';

.site-container {
  background-color: $white;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.sr-only {
  @include sr-only();
}

.sr-focusable {
  @include sr-only-focusable();
}
  }
}
