// core
@import 'core/functions';
@import 'core/variables';
@import 'core/mixins';
@import 'core/grid-framework';
@import 'core/grid';

// vendor
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/dist/css/swiper';

// base
@import 'base/global';
@import 'base/typography';
@import 'base/table';
@import 'base/keyframes';
@import 'base/grid';

// components
@import 'components/accordion';
@import 'components/alert';
@import 'components/audio';
@import 'components/breadcrumb';
@import 'components/button';
@import 'components/callout-contacts';
@import 'components/callout-group';
@import 'components/callout-info';
@import 'components/callout-links';
@import 'components/callout';
@import 'components/card';
@import 'components/carousel';
@import 'components/chart';
// @import 'components/drawer';
@import 'components/event-detail';
@import 'components/event-teaser';
@import 'components/event-card';
@import 'components/faq';
@import 'components/emma-forms';
// @import 'components/filter';
@import 'components/datepicker';
@import 'components/footer-callout';
@import 'components/footer-menu';
@import 'components/footer';
@import 'components/form';
@import 'components/google-custom-search';
@import 'components/grid-nav';
@import 'components/hero-form';
@import 'components/homepage-hero';
@import 'components/icon';
@import 'components/image';
@import 'components/input-group';
@import 'components/lead';
@import 'components/list';
@import 'components/media-object';
@import 'components/media';
@import 'components/mission-modal';
@import 'components/mission-selector';
@import 'components/modal';
@import 'components/page-callout';
@import 'components/page-header';
// @import 'components/page-hero';
@import 'components/page-nav';
@import 'components/page';
@import 'components/pagination';
@import 'components/panel';
// @import 'components/profile-explorer';
@import 'components/profile-info';
@import 'components/profile-section';
// @import 'components/profile-spotlight-item';
@import 'components/profile-teaser';
@import 'components/program-panel';
@import 'components/program-spotlight-item';
@import 'components/program-spotlight';
@import 'components/projects';
// @import 'components/publications';
@import 'components/pullquote';
@import 'components/schedule';
@import 'components/search-form';
@import 'components/search-results-item';
@import 'components/section';
@import 'components/share';
@import 'components/site-container';
@import 'components/site-header';
@import 'components/site-menu-button';
@import 'components/site-nav';
@import 'components/site-search';
@import 'components/slideshow';
@import 'components/social-links';
@import 'components/speaker';
@import 'components/story-aside';
@import 'components/story-detail';
@import 'components/story-teaser-lite';
@import 'components/story-teaser';
@import 'components/tags';
@import 'components/transcript';
@import 'components/teaser';
@import 'components/text';
@import 'components/two-col-text';
@import 'components/video';

// utils
@import 'utils/borders';
@import 'utils/display';
@import 'utils/float';
@import 'utils/font';
@import 'utils/order';
@import 'utils/spacing';
@import 'utils/screenreaders';
@import 'utils/text';
@import 'utils/toggler';

.link-border {
  @include link-border();
}

.h-100 {
  height: 100%;
}

// TODO: need to change frontend to use this class or figure out admin panel only styles

.profile-listing-title {
  margin-top: $component-margin-bottom;
  margin-bottom: 3rem;
}

.w-md-40 {
  @include media(md) {
    width: 40%;
  }
}

.color-gray {
  color: $gray;
}
