// core
@import 'core/functions';
@import 'core/variables';
@import 'core/mixins';

// vendor
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../node_modules/bootstrap/scss/mixins/grid';
@import '../../node_modules/bootstrap/scss/mixins/screen-reader';
@import '../../node_modules/bootstrap/scss/mixins/clearfix';
@import '../../node_modules/bootstrap/scss/utilities/clearfix';
@import '../../node_modules/bootstrap/scss/utilities/screenreaders';

@import '../../node_modules/swiper/dist/css/swiper';

// base
@import 'base/global';
@import 'base/typography';
@import 'base/table';
@import 'base/grid';

// components
@import 'components/breadcrumb';
@import 'components/button';
@import 'components/callout-contacts';
@import 'components/callout-group-item';
@import 'components/callout-group';
@import 'components/callout-info';
@import 'components/callout-links';
@import 'components/callout';
@import 'components/card';
@import 'components/carousel';
@import 'components/course-list';
@import 'components/drawer';
@import 'components/event-detail';
@import 'components/event-teaser-lite';
@import 'components/event-teaser';
@import 'components/filter';
@import 'components/footer-menu';
@import 'components/footer';
@import 'components/form';
@import 'components/google-custom-search';
@import 'components/grid-nav';
@import 'components/hero-form';
@import 'components/homepage-hero';
@import 'components/icon';
@import 'components/input-group';
@import 'components/list';
@import 'components/media-object';
@import 'components/media';
@import 'components/mission-modal';
@import 'components/mission-selector';
@import 'components/modal';
@import 'components/page-callout';
@import 'components/page-header';
@import 'components/page-hero';
@import 'components/page-nav';
@import 'components/page-top';
@import 'components/page';
@import 'components/pagination';
@import 'components/panel';
@import 'components/profile-detail';
@import 'components/profile-explorer';
@import 'components/profile-info';
@import 'components/profile-section';
@import 'components/profile-spotlight-item';
@import 'components/profile-teaser';
@import 'components/program-panel';
@import 'components/program-spotlight-item';
@import 'components/program-spotlight';
@import 'components/projects';
@import 'components/publications';
@import 'components/pullquote';
@import 'components/search-form';
@import 'components/search-results-item';
@import 'components/section';
@import 'components/share';
@import 'components/sidebar-search';
@import 'components/site-container';
@import 'components/site-header';
@import 'components/site-menu-button';
@import 'components/site-nav';
@import 'components/site-search';
@import 'components/slideshow';
@import 'components/social-links';
@import 'components/speaker';
@import 'components/story-aside';
@import 'components/story-detail';
@import 'components/story-teaser-lite';
@import 'components/story-teaser';
@import 'components/tags';
@import 'components/teaser';
@import 'components/video';

// utils
@import 'utils/borders';
@import 'utils/display';
@import 'utils/float';
@import 'utils/spacing';
@import 'utils/text';
@import 'utils/toggler';

.link-border {
  @include link-border();
}

.h-100 {
  height: 100%;
}
