// core
@import 'functions';
@import 'variables';
@import 'mixins';

// vendor
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../node_modules/bootstrap/scss/mixins/grid';
@import '../../node_modules/bootstrap/scss/mixins/screen-reader';
@import '../../node_modules/bootstrap/scss/mixins/clearfix';

// base
@import 'global';

// components
@import 'button';
@import 'icon';
@import 'homepage-hero';
@import 'modal';
@import 'breadcrumb';
@import 'page-nav';
@import 'mission-selector';
@import 'mission-modal';
@import 'section';
@import 'input-group';
@import 'callout';
@import 'callout-group';
@import 'carousel';
@import 'footer-menu';
@import 'program-spotlight';
@import 'page-callout';
@import 'page-header';
@import 'page-hero';
@import 'panel';
@import 'program-panel';
@import 'spotlight-item';
@import 'site-search';
@import 'site-menu-button';
@import 'social-links';
@import 'projects';

// layout
@import 'grid';
@import 'site-header';
@import 'footer';
@import 'site-nav';

.site-container {
  background-color: $white;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;

  &.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
  }
}
